<div ng-include="'partials/header.html'"></div>
<div ng-include="'partials/pestanas.html'"></div>    
<article ng-init="init()">    
   <div> 
        <div class="container">
                <div class="col-lg-10 col-md-offset-1">
                    <h2>Project: {{project.project_name}} - Iterations</h2>                
                    <div class="row">  
                        <div class="col-md-10 col-lg-offset-10">
                            <button type="button" class="btn btn-primary" aria-label="Left Align" ng-click="create_iteration(project.project_name)">
                                    <i class="fa fa-plus-circle"></i>
                            </button>
                        </div> 
                    </div>
                </div>
            <div class="row">
              <div class="col-lg-2" style="width:1200px; height:315px; overflow-y:scroll;">
              <div class="col-md-10 col-md-offset-1">
                <table class="table">
                  <tr>
<!--                <th>
                        <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                        </label>
                        </div>
                    </th> -->
                    <th>Id</th>
                    <th>Title</th>
                    <th>Points</th>
                  </tr>
                <tr ng-repeat="iterationT in iterations" >
<!--                 <td>
                        <div class="checkbox">
                        <label>
                            <input type="checkbox">    
                        </label>
                        </div>
                    </td> -->
                    <td>{{iterationT.iteration_number}}</td>
                    <td>{{iterationT.title}}</td>
                    <td>{{iterationT.points}}</td>
                    <td>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal3" ng-click="setDelete(iterationT.iteration_number)">
                            <i class="fa fa-times"></i> 
                        </button>                         
                    </td>
                    <td width="100"><button type="button" class="btn btn-default" aria-label="Left Align" ng-click="goToWorkItems(iterationT)">
                            <i class="fa fa-cubes"></i>

                        </button>
                    </td>
                 </tr>
                </table>
              </div>
              </div>
          </div>    
        </div> <!-- end of container --> 

        <div class="container">
            <div class="row">
                <div id="information" class="col-lg-7 col-lg-offset-2">
                    <div class="alert alert-danger" id="alert-danger" role="alert" data-ng-if="addErrorMsgVisible">
                        <strong>Error adding iteration!</strong>
                    </div>
                    <div class="alert alert-success" role="alert" data-ng-if="addSuccessMsgVisible">
                        <strong>The Iteration was added!</strong>
                    </div>
                    <div class="alert alert-danger" id="alert-danger" role="alert" data-ng-if="removeErrorMsgVisible">
                        <strong>Error deleting iteration!</strong>
                    </div>
                    <div class="alert alert-success" role="alert" data-ng-if="removeSuccessMsgVisible">
                        <strong>The Iteration was deleted!</strong>
                    </div>                                        
                </div>
            </div>
        </div>

    </div>

  <!--Modal Add iteration-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form class="form-signin" ng-submit="create_iteration()" role="form" id="1181323992">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel">Add Iteration</h4>  
                    </div>
                    <div class="modal-body">
                            <div class="form-group">
                                <label for="recipient-name" class="control-label" >Title:</label>
                                <input type="text" /*ng-model="adder.name" */ class="form-control" id="recipient-name"  placeholder="Title of Iteration" required autofocus="">
                                 
                            </div>
                    </div>
                    <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" ng-click="create_iteration(project.project_name)" data-dismiss="modal">Done</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">X</button>
                            
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal Delete Iteration -->
    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="myModalLabel">Delete Iteration</h3>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                                <form class="form-signin" role="form" id="1181323999">
                                    <h5> Project Name </h5>
                                        <input type="nameProject" id="inputNameProject" class="form-control" ng-model="project.project_name" ng-readonly="project.project_name"
                                        ></input>
                                    <h5> Iteration Number </h5>
                                        <input type="nameIteration" id="inputNameIteration" class="form-control" ng-model="delIteration.iteration_number" readonly="delIteration.iteration_number"></input> 
                                    <br>
                                    <br>
                                        <div class="col-lg-6">
                                            <button class="btn btn-lg btn-primary btn-block" type="submit" data-dismiss="modal" ng-click="delete_iteration(delIteration.iteration_number)">Done</button>
                                        </div>
                                        <div class="col-lg-6">
                                            <button class="btn btn-lg btn-danger btn-block" type="button" data-dismiss="modal">Cancel</button>
                                        </div>
                                </form>                                 
                            </div>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

</article>    
<div ng-include="'partials/footer.html'"></div>