<!-- page content -->
<article>
    <aside>
        <!-- sign up button -->
        <div id="singup" class="signup">
            <button type="button" class="btn btn-lg btn-primary">Sing Up</button>
        </div>
    </aside>
    <!-- description section -->
    <div id="description" class="description">
        <div class="well">
            <p>
                WBPMS is a Web Based Project Management System easy to management your projects.
            </p>
        </div>
    </div>

    <div id="singin" class="singin">
        <form class="form-signin" role="form" id="1181323992">
            <h2 class="form-signin-heading">Sign in</h2>
            <h3> Username </h3>
            <label for="inputEmail" class="sr-only">Username</label>
            <input type="username" id="inputUsername" class="form-control" placeholder="Username" required="" autofocus="">
            <h3> Password </h3>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
            <br>
            <a href="htttp://www.google.com">Forget Password?</a>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </div>
</article>