<div ng-include="'partials/header.html'"></div>
<div ng-include="'partials/pestanas.html'"></div>
    
<article>    
   <div > 
        <div ng-include="'partials/search.html'"></div>    
        <div class="container">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <h2>Members - Project name</h2>
              </div>
            </div>

            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <table class="table">
                  <tr>
                    <th>Tilde</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Points</th>
                  </tr>
                  <tr ng-repeat="member in members" >
                    <td>{{member.owner}}</td>
                    <td>{{member.name}}</td>
                    <td>{{member.eMailMember}}</td>
                    <td>{{member.point}}</td>
                  </tr>
                </table>
              </div>
              </div>
        </div> <!-- end of container --> 
    </div>
</article>    
<div ng-include="'partials/footer.html'"></div>
