<div ng-controller="SearchCtrl">
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li><a href='#/home' data-toggle="tab">Home</a></li>
        <li><a href='#/projects' data-toggle="tab">Projects</a></li>
        <div class="row">
              <div class="col-lg-4">
                <div class="input-group">
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Select Search <i class="fa fa-search"></i><span class="caret"></button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#/search" ng-click="globalOtherUserSearch(searchs)">Users:</a></li>
                      <li class="divider"></li>
                      <li><a href="#/search" ng-click="globalWorkItemSearch(searchs)">WorkItem</a></li>
                    </ul>
                  </div><!-- /btn-group -->
                  <input type="text" ng-model="searchs" class="form-control" placeholder="Input the object to search">
                </span>
                </div><!-- /input-group -->
              </div><!-- /.col-lg-4 -->
          </div>
      </ul>
<!--          -->
      <div class="tab-content">
        <div id="home" class="tab-pane active">
        </div>
        <div id="project" class="tab-pane">
        </div>
      </div><!-- /.tab-content -->  
    </div><!-- /.tabbable -->
</div>
