<div ng-controller="SearchCtrl">
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li><a href='#/home' data-toggle="tab">Home</a></li>
        <li><a href='#/projects' data-toggle="tab">Projects</a></li>
        <div class="row">
              <div class="col-lg-4 col-lg-offset-2">
                <div class="input-group">
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-default"><i class="fa fa-search"> Search By</i></button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><button type="button" class="btn btn-link" ng-click="searches(key, 'user')"><i class="fa fa-users">Users</i></button></li>
                      <li class="divider"></li>
                      <li><button type="button" class="btn btn-link" ng-click="searches(key, 'workItem')"><i class="fa fa-cubes">WorkItem</i></button></li>
                    </ul>
                  </div><!-- /btn-group -->
                  <input type="text" ng-model="key" class="form-control" placeholder="Search" required>
                </div><!-- /input-group -->
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-1" ng-controller="SessionCtrl">
                <!-- Split button -->
                <div class="btn-group">
                  <button type="button" class="btn btn-default"><i class="fa fa-cog"></i></button>
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li>
                      <button type="button" class="btn btn-link" data-toggle="modal" data-target="#modifyUser"><i class="fa fa-user"> Edit Information </i></button>
                    </li>
                    <li>
                      <button type="button" class="btn btn-link" data-toggle="modal" data-target="#modifyPasswordUser"><i class="fa fa-pencil"> Change Password </i></button>
                    </li>
                    <li>
                      <button type="button" class="btn btn-link" data-toggle="modal" data-target="#deleteUser"><i class="fa fa-trash"> Delete Account </i></button>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <button type="button" class="btn btn-link" ng-click="logout()"><i class="fa fa-power-off"> Sing Out </i></button>
                    </li>
                  </ul>
                </div>
              </div><!-- /.col-lg-4 -->
          </div>
      </ul>
<!--          -->
      <div class="tab-content">
        <div id="home" class="tab-pane active">
        </div>
        <div id="project" class="tab-pane">
        </div>
      </div><!-- /.tab-content -->  
    </div><!-- /.tabbable -->

     <!-- Modal Modify Information-->
    <div class="modal bs-example-modal-lg" id="modifyUser" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" ng-controller="SessionCtrl">
                <div class="modal-header">
                    <h3 class="modal-title" id="myModalLabel">Modify Information</h3>
                </div>
                <div class="modal-body">
                    <!-- Sing Up form -->
                    <form class="form-signin" role="form" data-toggle="validator">
                        <div class="row">
                            <div class="col-lg-4">
                                <span class="input-group-addon">Name</span>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" ng-model="loginModel.name" placeholder="Name" required="" autofocus="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <span class="input-group-addon">Surname</span>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" ng-model="loginModel.surname" placeholder="Surname" required="" autofocus="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <span class="input-group-addon">Role</span>
                            </div>  
                            <div class="col-lg-8">
                                <select class="form-control" ng-model="loginModel.role" ng-options="rol for rol in roles.values"></select>
                            </div>
                        </div>
<!--                         <div class="row">
                            <div class="col-lg-4">
                                <span class="input-group-addon">Photo</span>
                            </div>  
                            <div class="col-lg-8">
                                <form enctype="multipart/form-data">
                                    <div class="form-group">
                                        <input id="avatar-upload" type="file" accept="image/*" >
                                        <script>
                                        /* Initialize your widget via javascript as follows */
                                        $("#avatar-upload").fileinput({
                                            previewFileType: "image",
                                            browseClass: "btn btn-success",
                                            browseLabel: "Browse",
                                            browseIcon: '<i class="fa fa-picture-o"></i>',
                                            removeClass: "btn btn-danger",
                                            removeLabel: "Delete",
                                            removeIcon: '<i class="fa fa-times"></i>',
                                            uploadClass: "btn btn-info",
                                            uploadLabel: "Upload",
                                            uploadIcon: '<i class="fa fa-upload"></i>',
                                        });
                                        </script>
                                    </div>
                                </form>
                            </div>
                        </div> -->
                    </form>
                    <!-- footer -->
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-lg-6">
                                <button type="button" class="btn btn-sm btn-primary btn-block" ng-click="updateUser();" data-dismiss="modal">Done</button>
                            </div>
                            <div class="col-lg-6">
                                <button type="button" class="btn btn-sm btn-danger btn-block" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <!-- Modal Change Password-->
    <div class="modal bs-example-modal-lg" id="modifyPasswordUser" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" ng-controller="SessionCtrl">
                <div class="modal-header">
                    <h3 class="modal-title" id="myModalLabel">Modify Information</h3>
                </div>
                <div class="modal-body">
                    <!-- Sing Up form -->
                    <form class="form-signin" role="form" data-toggle="validator">
                        <div class="row">
                            <div class="col-lg-4">
                                <span class="input-group-addon">New Password</span>
                            </div>
                            <div class="col-lg-8">
                                <input type="password" class="form-control" ng-model="changepassword.new_password" placeholder="Password" required="" autofocus="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <span class="input-group-addon">Confirm New Password</span>
                            </div>
                            <div class="col-lg-8">
                                <input type="password" class="form-control" ng-model="changepassword.confirm_password" placeholder="Password" required="" autofocus="">
                            </div>
                        </div>
                    </form>
                    <!-- footer -->
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-lg-6">
                                <button type="button" class="btn btn-sm btn-primary btn-block" ng-click="updatePasswordUser(changepassword);" data-dismiss="modal">Done</button>
                            </div>
                            <div class="col-lg-6">
                                <button type="button" class="btn btn-sm btn-danger btn-block" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Delete Account-->
    <div class="modal fade" id="deleteUser" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" ng-controller="SessionCtrl">
                <div class="modal-header">
                    <h3 class="modal-title" id="myModalLabel">Delete Account</h3>
                </div>
                <div class="modal-body">
                    <!-- Sing Up form -->
                    <form class="form-signin" role="form" data-toggle="validator">
                        <div class="row">
                            <div class="col-lg-4">
                                <span class="input-group-addon">User Email</span>
                            </div>
                            <div class="col-lg-8">
                                <input type="email" class="form-control" ng-model="loginModel.email" ng-readonly="loginModel.email">
                            </div>
                        </div>
                    </form>
                    <!-- footer -->
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-lg-6">
                                <button type="button" class="btn btn-sm btn-primary btn-block" ng-click="deleteUser();" data-dismiss="modal">Confirm</button>
                            </div>
                            <div class="col-lg-6">
                                <button type="button" class="btn btn-sm btn-danger btn-block" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>