<div ng-include="'partials/header.html'"></div>
<!--<div ng-include="'partials/pestanas.html'"></div>-->
<div class="col-lg-4 col-lg-offset-10">
    <a href='#/projects' data-toggle="tab"><button type="submit">Back projects</button></a>
</div>

<div ng-init="init()">
    <!--list to members o workItems search-->
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <table class="table" ng-if="showMember">
                          <tr>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Email</th>
                            <th>Home</th>
                          </tr>
                          <tr ng-repeat="search in globalSearchUser" >
                            <td>{{search.name}}</td> 
                            <td>{{search.surname}}</td>
                            <td>{{search.email}}</td>
                              <td width="100"><button type="button" class="btn btn-default" aria-label="Left Align" type="submit" ng-click="goToMembers(search)"><i class="fa fa-users"></i> <!--//cuando haga un click te debe llevar a home -->
                            </button>
                            </td>  
                          </tr>
                    </table>
                    <table class="table" ng-if="showWorkItem">
                      <tr>
                        <th>Work Item</th>
                      </tr>
                      <tr ng-repeat="search in globalSearchWorkItem" >
                        <td>{{search.work_item_id}}</td>
                        <td width="100"><button type="button" class="btn btn-default" aria-label="Left Align" type="submit" ng-click="goToWorkItems(work_item_id)"><i class="fa fa-cubes"></i>
                            </button>
                        </td>  
                      </tr>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'partials/footer.html'"></div>
