<div ng-include="'partials/header.html'"></div>
<div ng-include="'partials/pestanas.html'"></div>    
<article ng-init="init()">    
  <div > 
      <div class="container">
        <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <h3>Iteration: {{iteration.title_iteration}} - Work Items</h3>
              </div>                 
              <div class="col-md-10 col-lg-offset-10">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addWorkItem">+</button>
              </div>
        </div>     
       
        <div class="row">
          <div class="col-md-10 col-md-offset-1" style="height:250px; overflow-y:scroll;">
            <table class="table">
              <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Points</th>
              </tr>
              <tr ng-repeat="workItem in workItems" >
                <td>{{workItem.id}}</td>
                <td>{{workItem.name}}</td>
                <td>{{workItem.points}}</td>
                <td>
                  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#infoWorkItem" ng-click="setInfo(workItem)">
                      <i class="fa fa-info-circle"></i>                           
                  </button>                         
                </td>
                <td>
                  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modifyWorkItem" ng-click="setModify(workItem)">
                      <i class="fa fa-pencil"></i>                           
                  </button>                         
                </td>
                <td>
                  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#deleteWorkItem" ng-click="setDelete(workItem.id, workItem.number)">
                      <i class="fa fa-trash"></i>                           
                  </button>                         
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>  <!-- end of container -->

    <!-- div infomation-->
        <div class="container">
            <div class="row">
                <div id="information" class="col-lg-7 col-lg-offset-2">
                    <div class="alert alert-danger" id="alert-danger" role="alert" data-ng-if="addErrorMsgVisible">
                        <strong>Error creating work item!</strong>
                    </div>
                    <div class="alert alert-success" role="alert" data-ng-if="addSuccessMsgVisible">
                        <strong>The Work Itewm was created!</strong>
                    </div>
                    <div class="alert alert-danger" id="alert-danger" role="alert" data-ng-if="renameErrorMsgVisible">
                        <strong>Error changing work item!</strong>
                    </div>
                    <div class="alert alert-success" role="alert" data-ng-if="renameSuccessMsgVisible">
                        <strong>The Work Item was changed!</strong>
                    </div>  
                    <div class="alert alert-danger" id="alert-danger" role="alert" data-ng-if="removeErrorMsgVisible">
                        <strong>Error deleting work item!</strong>
                    </div>
                    <div class="alert alert-success" role="alert" data-ng-if="removeSuccessMsgVisible">
                        <strong>The Work Item was deleted!</strong>
                    </div>                                        
                </div>
            </div>
        </div>

  </div>  
    

  <!--Modal add Work Item -->
  <div class="modal bs-example-modal-lg" id="addWorkItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLabel">Add Work Item</h4>  
              </div>
            
              <div class="modal-body">
                  <form class="form-signin" ng-submit="create_work_item()" role="form" id="1181323992">
                      <div class="row">
                          <div class="col-lg-2">
                              <span>Title:</span>
                          </div>
                          <div class="col-lg-4">    
                              <input type="text" class="form-control" id="title" ng-model= "title" placeholder="Title of Work Item"  required autofocus="">
                          </div>
  
                          <div class="col-lg-2">
                              <span>Status:</span>
                          </div>  
                          <div class="col-lg-4">
                              <select class="form-control" ng-model="newWorkItem.new_status" ng-options="status for status in statusWorkItems.values"></select>
                          </div>
                      </div> <!--end div row title and status-->
                      <br>
                      <div class="row">
                          <div class="col-lg-2">
                              <span>Points:</span>
                          </div>
                          <div class="col-lg-4">    
                              <input type="text" class="form-control" id="recipient-name" ng-model="points" placeholder="maximum value for points is 100">
                          </div> 
                          <div class="col-lg-2">
                              <span>Owned By:</span>
                          </div>  
                          <div class="col-lg-4">
                              <input type="text" id="owner" class="form-control" ng-model="usuario.name" ng-readonly="usuario.name"> <!--</input> -->
                          </div>
                          
                      </div>  <!--end div row points and owned by-->
                      <br>
                      <div class="row">
                          <div class="col-lg-2">
                              <span>Description:</span>
                          </div>    
                          <div class="col-lg-4">
                                 <input type="usuario" class="form-control" id="recipient-name" ng-model="description" required autofocus="">
                          </div>    
                            
                          <div class="col-lg-2">
                              <span>Iteration:</span>
                          </div>  
                          <div class="col-lg-4">
                              <input type="iteration" id="iter" class="form-control" ng-model="iteration.title_iteration" ng-readonly="iteration.title_iteration"> <!-- </input> -->
                          </div>
                          
                      </div>
                      <br>
                      <div class="row">
                            <div class="col-lg-6">
                              <span>Comment:</span>
                              <div class="row">
                                <div class="col-lg-10">
                                  <input type="text" ng-model="comentario" class="form-control" id="recipient-name">
                                </div>  
                                <div class="col-lg-2">
                                  <button type="button" class="btn btn-sm btn-primary btn-block" ng-click="add_comment(comentario);"><i class="fa fa-plus-circle"></i></button>
                                </div>        
                                <div class="col-lg-12" style="height:200px; overflow-y:scroll;">
                                  <table class="table-comments" style="height:200px;">
                                    <tr ng-repeat="comment in comments" >
                                      <td>{{comment}}</td>
                                    </tr>
                                  </table>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <span>Links:</span>
                              <div class="row">
                                <div class="col-lg-10">
                                  <select class="form-control" ng-model="newWorkItem.new_links" ng-options="link.name for link in workItems"></select>
                                </div>  
                                <div class="col-lg-2">
                                  <button type="button" class="btn btn-sm btn-primary btn-block" ng-click="add_link(newWorkItem.new_links);"><i class="fa fa-plus-circle"></i></button>
                                </div>        
                                <div class="col-lg-12" style="height:200px; overflow-y:scroll;">
                                  <table class="table-links" style="height:200px;">
                                    <tr ng-repeat="link in linkss" >
                                      <td>{{link.name}}</td>

                                      <td align="right">
                                       <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalDeleteLink" ng-click="setDeleteLink(workItem.id, delLink.second_workItem)">
                                           <i class="fa fa-times"></i>                           
                                       </button>                         
                                      </td>
                                    </tr>  
                                  </table>
                                </div>
                              </div>
                            </div>
                      </div> 

                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" ng-click="create_work_item(title, description, points, newWorkItem.new_status)"   data-dismiss="modal">Done</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">X</button>  
                      </div>
                  </form>
              </div>  
          </div>
      </div>
  </div>

<!--Modal Modify Information of Work-->
  <div class="modal bs-example-modal-lg" id="infoWorkItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLabel">Work Item Information</h4>  
              </div>
              <div class="modal-body">
                  <form class="form-signin" role="form">
                      <div class="row">
                          <div class="col-lg-2">
                              <span>Title:</span>
                          </div>
                          <div class="col-lg-4">    
                              <input type="text" class="form-control" id="title" ng-model= "infoWorkItem.workitem.name" ng-readonly="infoWorkItem.workitem.name">
                          </div>
  
                          <div class="col-lg-2">
                              <span>Status:</span>
                          </div>  
                          <div class="col-lg-4">
                              <select class="form-control" ng-model="infoWorkItem.workitem.status" ng-options="status for status in statusWorkItems.values" ng-disabled="true"></select>
                          </div>
                      </div> <!--end div row title and status-->
                      <br>
                      <div class="row">
                          <div class="col-lg-2">
                              <span>Points:</span>
                          </div>
                          <div class="col-lg-4">    
                              <input type="text" class="form-control" id="recipient-name" ng-model="infoWorkItem.workitem.points" ng-readonly="infoWorkItem.workitem.points">
                          </div> 
                          <div class="col-lg-2">
                              <span>Owned By:</span>
                          </div>  
                          <div class="col-lg-4">
                              <input type="text" id="owner" class="form-control" ng-model="infoWorkItem.workitem.created_by" ng-readonly="infoWorkItem.workitem.created_by"> <!--</input> -->
                          </div>
                          
                      </div>  <!--end div row points and owned by-->
                      <br>
                      <div class="row">
                          <div class="col-lg-2">
                              <span>Description:</span>
                          </div>    
                          <div class="col-lg-4">
                                 <input type="usuario" class="form-control" id="recipient-name" ng-model="infoWorkItem.workitem.description" ng-readonly="infoWorkItem.workitem.description">
                          </div>    
                            
                          <div class="col-lg-2">
                              <span>Iteration:</span>
                          </div>  
                          <div class="col-lg-4">
                              <input type="iteration" id="iter" class="form-control" ng-model="iteration.title_iteration" ng-readonly="iteration.title_iteration"> <!-- </input> -->
                          </div>
                          
                      </div>
                      <br>
                      <div class="row">
                            <div class="col-lg-6">
                              <span>Comments:</span>
                              <div class="row">        
                                <div class="col-lg-12" style="height:200px; overflow-y:scroll;">
                                  <table class="table-comments" style="height:200px;">
                                    <tr ng-repeat="comment in infoWorkItem.comments" >
                                      <td>{{comment}}</td>
                                    </tr>
                                  </table>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <span>Links:</span>
                              <div class="row">       
                                <div class="col-lg-12" style="height:200px; overflow-y:scroll;">
                                  <table class="table-links" style="height:200px;">
                                    <tr ng-repeat="link in infoWorkItem.links" >
                                      <td>{{link.name}}</td>
                                    </tr>  
                                  </table>
                                </div>
                              </div>
                            </div>
                      </div> 
                  </form>
              </div> 
              <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-toggle="modal">Done</button>
              </div>
          </div>
      </div>
  </div>

    <!-- Modal Delete Work Item -->
  <div class="modal fade" id="deleteWorkItem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h3 class="modal-title" id="myModalLabel">Delete Work Item</h3>
              </div>
              <div class="modal-body">
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-4">
                              <form class="form-signin" role="form">
                                  <h5> Number Work Item </h5>
                                      <input type="text" id="inputDelWork" class="form-control" ng-model="delWorkItem.work_item_number" ng-readonly="delWorkItem.work_item_number">
                                  <br>
                                  <br>
                                  <div class="col-lg-6">
                                      <button class="btn btn-lg btn-primary btn-block" ng-click="delete_work_item(delWorkItem.work_item_id)" data-dismiss="modal">Done</button>
                                  </div>
                                  <div class="col-lg-6">
                                      <button class="btn btn-lg btn-danger btn-block" type="button" data-dismiss="modal">Cancel</button>
                                  </div>
                              </form>                                 
                          </div>                           
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>   

</article>    
<div ng-include="'partials/footer.html'"></div>