
 
<div ng-show = "isView(1)">
  <div class="container">

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Login </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
		<form role="form">
		  <div class="form-group">
		    <input type="text" class="form-control" ng-model="user.email"  placeholder="e-mail"> <br>
			<input type="password" class="form-control" ng-model="user.pass"  placeholder="password"> <br>
		  	  <label>Select language</label>
			  <select class="form-control" ng-model="loginModel.language" ng-options="language.name for language in languages"> 
			  </select>
			 <br>

		 Remember Me <input type="checkbox"  ng-model="user.remember" id="rememberInput" placeholder="remember me"><br><br>
		 <a ng-click="changeView(2)"> Forgot password? </a> <br><br>

		  <button ng-click="login(user.email, user.pass, user.remember)" class="btn btn-default">
		  	Login
		  </button>
		</div>
		</form>
	</div>
  </div> 
</div>
</div>

<div ng-show = "isView(2)">
	<div class="container">

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Login </h2>
      </div>
    </div>

	<div class="row">
      <div class="col-md-6 col-md-offset-3">
		<form role="form">
		  <div class="form-group">
			The password has been sent to your email.
			<a ng-click= "changeView(1)">Try again?</a> <br>
			<a href= "https//:localhost:9090/home">Back to home</a> <br>
		  </div>
		</form>
	  </div>
	</div>
	</div>
</div>

<div ng-show = "isView(3)">
	<div class="container">

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Login </h2>
      </div>
    </div>

	<div class="row">
      <div class="col-md-6 col-md-offset-3">
		<form role="form">
		  <div class="form-group">
			<input type="text" class="form-control" ng-model="user.email" id="emailInput" placeholder="e-mail"> <br>
			<button ng-click="login(user.email, null, null)" class="btn btn-default">
		  	Submit
		    </button><br>
			<a ng-click="changeView(1)">Back to login</a> <br>
			<a href= "https//:localhost:9090/home">Back to home</a> <br>
		  </div>
		</form>
		</div>
	</div>
</div>
</div>

<div ng-show = "isView(4)">
	<div class="container">

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Login </h2>
      </div>
    </div>

	<div class="row">
      <div class="col-md-6 col-md-offset-3">
		<form role="form">
		  <div class="form-group">
			Incorrect username or password.
			<a ng-click="changeView(1)">Try again</a> <br>
			<a href= "https//:localhost:9090/register">Not registered?</a> <br>
			<a ng-click="changeView(2)"> Forgot password? </a> <br>
		  </div>
		</form>
	  </div>
	</div>
</div>
</div>
</body>
</html>
