





<div class="container">
    <div class="row show-grid">
        <div class="col-md-6 col-md-offset-3">

                    <h3>invite</h3>
                    <div class="form-group">
                        <label>Invite</label>
                        <input ng-model="usersToShare" type="text" class="form-control" placeholder="Mail from people who want to share the project.">
                    </div>
                    <div class="form-group">
                        <label>Message</label>
                        <textarea class="form-control" placeholder="Add a message"></textarea>
                    </div>
                    <button ng-click="addUsers(usersToShare); getUsers()" class="btn btn-success">Submit</button>
                    <button class="btn btn-default">Clear</button>
                    <button class="btn btn-danger">Cancel</button>
                    <br />
                    <br />

            <div class="list-group-item" ng-repeat="sprint in projectSprints">
                <div class="row">
                    <div class="col-md-8">
                        <h3><strong>{{sprint.name}}</strong></h3>
                        <h4> <strong>Start Date:</strong> {{sprint.startDate | date}} </h4>
                        <h4><strong> Completion Date:</strong>  {{sprint.completionDate | date}}</h4>
                    </div>
                    </div>
                </div>

                    <div class="list-group">
                        <h3>people in project</h3>
                        <div class="list-group-item colorHover" ng-repeat = "user in usersInProject">
                            <div class="row">
                                <div class="col-md-8">
                                    <h3><strong>{{user.firstName}}</strong></h3>
                                    <h4>{{user.LastName}}</h4>
                                    <h4>{{user.email}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    </div>





