<div>
    <div class="container">

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h2>Project </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form role="form">
                    <div class="form-group">
                        <label>Owner:</label>
			<div ng-bind-html-unsafe="curr_name"></div>
                        <h1 type="text" class="form-control" ng-init="$scope.project.owner" ng-model="project.owner"> {{curr_name}} </h1><br>
                        <label>Name:</label>
                        <input type="text" class="form-control" ng-init="$scope.project.name" ng-model="project.name" id="nameInput" placeholder="name"> <br>
                        <label>Start date:</label>
                        <input type="date" class="form-control" ng-init="$scope.project.start_time" ng-model="project.start_time" id="startDate" placeholder="begin"> <br>
                        <label>Status:</label>
                        <select class="form-control" ng-init="$scope.project.status" ng-model="project.status"  ng-options="obj.stat for obj in statuses">
                        </select>
                    </div>
                    <button ng-click="addProject(project)" class="btn btn-default"> Submit</button>
                    <a ng-href="http://localhost:63342/index.html#/projectsSprints" >
                        <button class="btn btn-default">
                            Cancel
                        </button>
                    </a>
                </form>
            </div>

        </div>
    </div>
</div>

