
 
<div>
  <div class="container">

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Story </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
		<form role="form">
		  <div class="form-group">
		    <label>Title:</label>
		    <input type="text" class="form-control" ng-model="story.title"  placeholder="title"> <br>
			<label>Description:</label>
			<textarea class="form-control" ng-model="story.description"  placeholder="description"></textarea> <br>
			<label>Points:</label>
			<input type="number" class="form-control" ng-model="story.points"> <br>
			<label>Description:</label>
			<textarea class="form-control" ng-model="story.description"  placeholder="description"></textarea> <br>
		  </div>
		  <button ng-click="submit(sprint.name, sprint.begin, sprint.end, sprint.status)" class="btn btn-default">
		  	Submit
		  </button>
		  <button ng-click="cancel()" class="btn btn-default">
		  	Cancel
		  </button>
		</form>
    </div>

  </div> 
</div>
</div>
