
 
<div>
  <div class="container">

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Task </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
		<form role="form">
		  <div class="form-group">
		    <label>Description:</label>
		    <input type="text" class="form-control" ng-init="$scope.task.description" ng-model="task.description" placeholder="description"> <br>

			<label>Number:</label>
			<input type="text" class="form-control" ng-init="$scope.task.number" ng-model="task.number"  placeholder="number"> <br>

			<label>Points:</label>
			<input type="number" min="0" ng-init="$scope.task.points" class="form-control" ng-model="task.points"> <br>

			<label>Available users:</label>
			  <div class="list-group">
				  <div class="list-group-item" ng-repeat="user in $scope.users">
					  	<button type="button" class="btn btn-info pull-left">{{user.firstName}} {{user.LastName}}</button>
				  </div>
			  </div>
			<label>Assignees:</label>
		  </div>
				<button ng-click="addTask(task)" class="btn btn-default"> Submit</button>
			<a ng-href="http://localhost:63342/index.html#/storyTask">
				<button class="btn btn-default"> Cancel</button>
			</a>
		</form>
    </div>

  </div> 
</div>
</div>
