
 
<div>
  <div class="container">

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Task </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
		<form role="form">
		  <div class="form-group">
		    <label>Description:</label>
		    <input type="text" class="form-control" ng-model="task.description" placeholder="description"> <br>
			<label>Number:</label>
			<input type="text" class="form-control" ng-model="task.number"  placeholder="number"> <br>
			  <label>Available users:</label>:</label> <br>
			  <div class="list-group">
				  <div class="list-group-item" ng-repeat="user in users">
					  <h4> {{user.name}}
						  <button type="button" class="btn btn-link pull-right">Edit</button> </h4>
				  </div>
			  </div>
			<label>Assignees:</label> <br>

		  </div>
		  <button ng-click="submit(task.description, task.number)" class="btn btn-default">
		  	Submit
		  </button>
		  <button ng-click="cancel()" class="btn btn-default">
		  	Cancel
		  </button>
		</form>
    </div>

  </div> 
</div>
</div>
