<div id="header" ng-controller="HeaderCtrl">
    <div class="float-left">
        <a href=""><img class="logo" src="img/logo.png"/></a>
    </div>
    <div ng-show="loggedIn" id="user" class="float-right">
        <a href="/#/user/{{user.id}}/home" class="underline">{{user.name}}</a>
        <span>(<a ng-click="logout()" href="/#/logout" class="underline">Logout</a>)</span>
    </div>
    <div class="float-left">
        <div id="navigation">
            <ul>
                <li ng-show="loggedIn">
                    <a href="/#/user/{{user.id}}/home">Dashboard</a>
                </li>
                <!--                <li ng-show="loggedIn">
                                    <a href="/#/tasks">My Tasks</a>
                                </li>-->
                <li>
                    <a href="/#/ranking">Ranking</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</div>