<div class="block">
    <h2>Welcome - {{user.name }} {{user.lastname}}</h2>

    <div>
        <h3>Your Projects</h3>
        <ul class="media-list">
            <li class="media" ng-repeat="project in userProjects">
                <div class="media-body">
                    <a class="media-heading" href="/#/user/{{user.id}}/project/{{project.id}}"><h4>
                        {{project.name}}</h4>
                    </a>

                    <p>{{project.info}}</p>
                </div>
            </li>
        </ul>
    </div>

</div> 
