<div id="login" class="block">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Login</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form role="form">
                <div class="form-group">
                    <label for="userEmail">Username</label>
                    <input type="text" class="form-control" ng-model="formData.email" id="userEmail"
                           placeholder="Enter your email">
                </div>
                <div class="form-group">
                    <label for="userPass">Password</label>
                    <input type="password" class="form-control" ng-model="formData.pass" id="userPass"
                           placeholder="Enter your password">
                </div>

                <button ng-click="login(formData.email, formData.pass)" class="btn btn-success">
                    Login
                </button>
            </form>
            <div>
                <p>Don't have an account? <a href="/#/signup">Sign up</a>
                </p>
            </div>
            <div class="alert alert-success" role="alert" ng-show="successMsgVisible">Okay, you're now logged in. <br>
            </div>
            <div class="alert alert-danger" role="alert" ng-show="errorMsgVisible">Username or password incorrect.</div>
        </div>
    </div>

</div>
