<div id="addUsers" class="block" ng-controller="MyController">
	<div class="float-left">
		<div>
			<div class="label-div">Filter:</div>
			<input type="text" name="filtername" ng-model="nameFilter">
		</div>
		<div>
			<div class="label-div">User:</div>
			<select size="5" name="user" ng-model="selectedUser" ng-options="x.id as x.name for x in allUsers | filter: nameFilter | orderBy: 'name'">
				<!--<option value="{{user.id}}" ng-repeat="user in allUsers | filter: namefilter | orderBy: 'name'">{{user.name}}</option>-->
			</select> <br />
			<div class="label-div">Role:</div>
			<select name="role" ng-model="role">
				<option value="Developer" selected>Developer</option>
				<option value="Team Leader">Team Leader</option>
			</select>
			<br /> <br />
			<div>
				<a class="link-button" ng-click="addUser()"><span>Add to Project</span></a>
			</div>
		</div>
	</div>
	<div class="float-left">
		<table>
			<tr>
				<th class="col1">User</th>
				<th class="col2">Role</th>
				<th class="col3"></th>
			</tr>
			<tr ng-repeat="user in projectUsers">
				<td class="col1">{{user.name}}</td>
				<td class="col2">{{user.role}}</td>
				<td class="col3"><a class="link-button" ng-click="removeUser(user.id)"><span>Remove</span></a></td>
			</tr>
		</table>
	</div> 
	<div class="clear"></div>
	<div class="buttons">
		<div>
			<a class="link-button" href=""><span>Done</span></a>
		</div>
		<div>
			<a class="link-button" href=""><span>Cancel</span></a>
		</div>
	</div>
</div> 
<script>
angular.module("DOSEMS", [])
    .controller("MyController", function($scope) {
			$scope.selectedUser = null;
			$scope.allUsers = [
				{ id: 1, name: "Muriel Priestly" },
				{ id: 52, name: "Arline Buendia" },
				{ id: 84, name: "Yahaira Beller" },
				{ id: 91, name: "Bell Curtin" },
				{ id: 102, name: "Lonnie Banh" },
				{ id: 103, name: "Theodora Forshey" }
			];
			$scope.projectUsers = [ {id: 1, name: "Eli Adova", role: "Developer"}];
			$scope.addUser = function () {
				for (var i = 0; i < $scope.allUsers.length; i++) {
					if ($scope.allUsers[i].id === $scope.selectedUser) {
						$scope.projectUsers.push({ id: $scope.selectedUser, name: $scope.allUsers[i].name, role: $scope.role });
					}
				}
			}
			$scope.removeUser = function (id) {
				for (var i = 0; i < $scope.projectUsers.length; i++) {
					if ($scope.projectUsers[i].id === id) {
						$scope.projectUsers.splice(i, 1);
					}
				}
			}
    } );
</script>
