
<div id="dashboard">
	<div class="block projects-column" >
		<b>Manage users</b>
		<table ng-repeat="user in users">
		<p>User: ----
			Role: 
			<select name="rols">
			<option value="d">Developer</option>
			<option value="pm">Project Manager</option>
			<option value="tl">Team Leader</option>
			</select>
			<button>Add</button>
		</p>
		
		<tr>
			<td>{{user.username}}</td>
			<td><button>x</button></td>
		</tr>
		</table>
		<p>
			<button>Done</button>
			<button>Cancel</button>
		</p>
	</div>
	<div class="clear"></div>
</div>
	