
<div id="dashboard">
	<div class="block projects-column" >
	<table cellpadding="30">
		<tr>
			<td>Task</td>
			<td>AssignedTo</td>
			<td>Status</td>
			<td>Points</td>
		<tr>
	</table>
	<button align="center">ManageProject</button>
		
	</div>
	<div class="block users-column" >
		<p><b><h2 align="center">Users</h2></b></p>
		<ul ng-repeat="user in users">
			<li><a href="#/projectDashboard/{{user.id}}">{{user.username}}</a></li>
		</ul>
		<button><a href="#/manageUsers">ManageUsers</a></button>
	</div>

	<div class="clear"></div>
</div>