<div id="dashboard">
    <div class="block projects-column">

        <div class="row">
            <div class="col-md-5">
                <div class="well">
                    <h2>List of Sprints</h2>
					<h5 ng-if="sprintsIdForProject.length!=0">Click on a sprint to see the tasks</h5>
                    <div>
                        <label ng-if="sprintsIdForProject.length==0">There are no sprints for this project! Go to
                            Project
                            Management and add some!
                        </label>
                    </div>
                    <ul ng-repeat="sprintId in sprintsIdForProject">
                        <li ng-click="tasksIdFromSprintFunction(sprintId.id)">Sprint {{sprintId.id}}</li>
                    </ul>
                    <div>
                        <!--	<label ng-if="tasksForSprint.length==0 && nrOfFctAccess!=0">There are no tasks for this sprint yet!Go to Project
                                                                                   Management and add some!
                            </label> -->
                    </div>
                    <a ng-href="#/user/{{userId}}/project/{{projectId}}/manageproject">
                        <button align="center" class="buttons" type="button">ManageProject</button>
                    </a>
                </div>
                <!-- end div well -->
            </div>
            <!-- end div col-->


            <div class="col-md-7">
                <div class="well" ng-if="sprintsIdForProject.length!=0 && nrOfFctAccess!=0">
                    <label ng-if="tasksForSprint.length==0 && nrOfFctAccess!=0">There are no tasks for this sprint
                        yet! Why don't you create some?
                    </label>
					

                    <div class="procedure-details" ng-show="!!tasksForSprint.length">
                        <h2>Tasks for Sprint {{sprintIdDisplay}}</h2>
                        <table cellpadding="30">
                            <tr class="row" align="center">
                                
                                <th style="text-align:center" class="col-md-2">Name</th>
                                <th style="text-align:center" class="col-md-3">User</th>
                                <th style="text-align:center" class="col-md-4">Status</th>
                                <th style="text-align:center" class="col-md-5">Points</th>
                            <tr>
                            <tr class="row" ng-repeat="task in tasksForSprint" align="center">
                                
                                <td class="col-md-2"><a
                                        ng-href="#/user/{{userId}}/project/{{projectId}}/{{task.id_task}}">{{task.desc}}</a>
                                </td>
                                <td class="col-md-3">{{task.name}} {{task.lastname}}</td>
                                <td class="col-md-4">{{task.status}}</td>
                                <td class="col-md-5">{{task.points}}</td>
                            <tr>
                        </table>
                    </div>
					<p></p>
					<button type="button" class="buttons" data-toggle="modal" data-target="#createTaskModal" ng-show="userRole[0].role!='DEV'">Create task</button>
                </div>
                <!-- end div well -->
            </div>
            <!-- end div col md-->
        </div>
        <!-- end div row-->


    </div>
    <!-- end div projects column -->


    <div class="block users-column">
        <div class="well">
            <h2>Users</h2>
            <ul ng-repeat="user in usersFromProj">
                <li><a ng-href="#/user/{{userId}}/project/{{projectId}}/userDetail/{{user.id}}">{{user.name}}</a></li>
            </ul>
            <button type="button" class="buttons"><a ng-href="#/user/{{userId}}/project/{{projectId}}/manageusers">ManageUsers</a></button>
            <h3> User ranking</h3>
            <a ng-href="#/user/{{userId}}/project/{{projectId}}/ranking">
                <button type="button" class="buttons">
                    Ranking
                </button>
            </a>
        </div>
    </div>

	
	<!-- button modal -->
	
	<div class="modal fade" id="createTaskModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Create Task</h4>
      </div>
      <div class="modal-body">
        
		<form ng-submit="addTask()">

			<div class="form-group">
				<label class="control-label">Name</label>	
				<input class="form-control" type="text" ng-model="newTask.desc" placeholder="Enter task name" required>
			</div>
	
			<div class="form-group">
				<label class="control-label">Description</label>	
				<input class="form-control" type="text" ng-model="newTask.comment" placeholder="Enter task description" required>
			</div>
	
			<div class="form-group">
				<label class="control-label">Duration</label>	
				<input class="form-control" type="text" ng-model="newTask.duration" placeholder="Enter the duration (days) of a task" required>
			</div>
	
			<div class="form-group">
				<label class="control-label">Points</label>	
				<input class="form-control" type="text" ng-model="newTask.points" placeholder="Enter the number of points for this task" required>
			</div>
			
			<div class="form-group">
			  <label>User</label>
			  <select ng-model="newTask.id_user" class="form-control">
			    <option value=""></option>
			    <option ng-repeat="user in usersFromProj" value="{{user.id}}">{{user.name}}</option>
			  </select>
			</div>	
		
		</form>
      </div> <!--end modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="addTask()">Save</button>
      </div>
    </div>
  </div>
</div>
	
	<!--end modal -->
	
    <div class="clear"></div>
</div>