
<div id="dashboard">
	<div class="block projects-column" >
	
	<ul ng-repeat = "sprintId in sprintsIdForProject">
		<li><label ng-click="showDetails=!showDetails;tasksIdFromSprintFunction(sprintId.id)">Sprint {{sprintId.id}}</li>
		
	</ul>
	
	
	
		
	<div class="procedure-details" ng-show="!showDetails">
	<h2>Tasks for Sprint</h2>
	<table cellpadding="30">
		<tr>
			<td>Id</td>
			<td>Name</td>
			<td>User</td>
			<td>Status</td>
			<td>Points</td>
		<tr>
		<tr  ng-repeat="task in tasksForSprint">
			<td>{{task.id}}</td>
			<td><a ng-href="#/user/{{userId}}/project/{{projectId}}/{{task.id}}">{{task.desc}}</a></td>
			<td>{{task.id_user}}</td>
			<td>{{task.status}}</td>
			<td>{{task.points}}</td>
		<tr>
	</table>
	</div>
	
	<button align="center">ManageProject</button>
		
	</div>
	<div class="block users-column" >
		<p><b><h2 align="center">Users</h2></b></p>
		
		<ul ng-repeat="user in usersFromProj">
			<li><a  ng-href="#/user/{{userId}}/project/{{projectId}}/{{user.id}}">{{user.name}}</a></li>
			<!--<button ng-click='getUrl()'>d</button> 
			<p>aa{{absUrl}}{{lookupUserId}}</p>
			bb{{projectId}}
			/user/{{user.id}}/project/{{getUserInfo.projectId}}/{{lookupUserId}} 
			<li><a href="{{absUrl}}/1">{{user.lastname}}</a></li>
			{{user.id}} -->
		</ul>
		<button><a href="#/manageUsers">ManageUsers</a></button>
	</div>

	<div class="clear"></div>
</div>