
<div id="dashboard">
	<div class="block projects-column">
	
	<div class="row">
		<label class="col-md-2">Id user</label>
		<div class="col-md-2">{{user.id}}</div>
	</div>
	
	<div class="row">
		<label class="col-md-2">First Name</label>
		<div class="col-md-2">{{user.name}}</div>
	</div>
	
	<div class="row">
		<label class="col-md-2">Last Name</label>
		<div class="col-md-2">{{user.lastname}}</div>
	</div>
	
	<div class="row">
		<label class="col-md-2">E-mail</label>
		<div class="col-md-2">{{user.email}}</div>
	</div>
		
		
	<button type="button" class="buttons"><a ng-href="#/user/{{userId}}/project/{{projectId}}">Back</a></button>	
	</div>
	
	
	<div class="clear"></div>
</div>