<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar" style="margin-bottom: 0px">
      <a class="navbar-brand" href="/#/login" alt="User dashboard" title="User dashboard">DOSE Mgmt</a>
      <ul class="nav navbar-nav">
        <li><a href="/#/user_dashboard">My dasboard</a></li>
        <li><a href="/#/project">Projects</a></li>
        <li><a href="/#/user">Users management</a></li>
      </ul>
        <p class="navbar-text navbar-right"  alt="last login: Wed October 5 2015 10:57" title="last login: Wed October 5 2015 10:57">
          Signed as <a href="/#/user/3" class="navbar-link">Dmitrii Stebliuk</a>
          (<a href="/#/logout" class="navbar-link">Logout</a>)
        </p>
    </div>
  </div>
</nav>