<div data-ng-controller="TaskController"><!-- injecting task controller -->

  <div ng-include src="'partials/task.html'"></div> <!-- injecting task modal html in page -->

  <div id="legend">
    <legend>{{project.name}}</legend>
  </div>

  <h4>{{project.client_name}}</h4>
  <div class="row">
    <div class="col-md-12">
    <button class="btn btn-default col-md-2" ng-click="openModal('edit')">Edit
      project info</button>
    <span class="col-md-8"></span>
        <a href="" class="col-md-2" ng-click = "createTask('1')" data-toggle="modal"
          data-target="#taskModal">New task   <span class="glyphicon glyphicon-plus"></a>
    </div>
  </div>

  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th class="col-md-3"></th>
          <th class="col-md-3"></th>
          <th class="col-md-3"></th>
          <th class="col-md-3"></th>
        </tr>
      </thead>
      
      <!-- Initial idea: have the lanes as tables of tables -->
      <tbody>
      <tr>
        <td>
        <table class="table">
          <thead>
            <tr>
              <th class="col-md-3">Backlog</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="task in backlogTasks">
              <td>{{task.description}}</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table class="table">
          <thead>
            <tr>
              <th class="col-md-3">To Do</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="task in todoTasks">
              <td>{{task.description}}</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table class="table">
          <thead>
            <tr>
              <th class="col-md-3">Doing</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="task in doingTasks">
              <td>{{task.description}}</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table class="table">
          <thead>
            <tr>
              <th class="col-md-3">Done</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="task in doneTasks">
              <td>{{task.description}}</td>
            </tr>
          </tbody>
        </table>
      </td>
      </tr>
      </tbody>
    </table>
  </div>
        
  <!-- Edit project modal popup -->
  <!-- <div class="modal fade" id="editProjectModal" tabindex="-1" role="dialog" -->
  <!--   aria-labelledby="myModalLabel" aria-hidden="true"> -->
  <!--     <div class="modal-dialog"> -->
  <!--         <div class="modal-content"> -->
  <!--         </div>  -->
  <!--     </div>  -->
  <!-- </div>  -->
</div>  
