
<!-- Modal -->
<div class="modal fade" id="taskModal" ng-if="currentTask" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<a href="#" class="modal-title h4" editable-text="currentTask.title" buttons="no" e-required> {{ currentTask.title || "Add title.." }} </a>
		</div>	<!-- /modal-header -->

		<div class="modal-body row">
			<div class="col-md-6">
				<p>Status: <a href="#" editable-select="currentTask.status" buttons="no" e-ng-options="s.value as s.text for s in statuses" e-required> {{ showStatus() }}</a></p>
				<p>User: <a href="#" buttons="no" editable-text="currentTask.id_user_assigned" e-typeahead="u.value as u.text for u in userSelect">
    				{{ showUsers() }}</a>
    			</p>
				<p>Priority: <a href="#" editable-select="currentTask.priority" buttons="no" e-ng-options="p.value as p.text for p in priorities" e-required> {{ showPriority() }}</a></p>
				<p>
					<span class="glyphicon glyphicon-plus" ng-show = "!currentTask.description"></span>
					<span ng-show = "currentTask.description">Description:</span>
					<span editable-text="currentTask.description" buttons="no"> {{ currentTask.description || "Add description.." }}</span>
				</p>
				<p>Comments: Here will be comments</p>
			</div>
			<div class="col-md-6">
				<p>
					<span class="glyphicon glyphicon-plus" ng-show = "!currentTask.estimation"></span>
					<span class="glyphicon glyphicon-star"></span>
					<span editable-text="currentTask.estimation" buttons="no"> {{ currentTask.estimation || "Add points.." }}</span>
				</p>
				<p>
					<span class="glyphicon glyphicon-plus" ng-show = "!currentTask.deadline"></span>
					<span class="glyphicon glyphicon-time"></span>
					<span editable-text="currentTask.deadline" buttons="no"> {{ currentTask.deadline || "Add a deadline" }}</span>
				</p>
				<p><a href = "#" ng-click = "deleteTask()"><span class="glyphicon glyphicon-remove"></span> delete task</a></p>
				<p><span class="glyphicon glyphicon-comment"></span> add a comment</p>
			</div>
		</div>	<!-- /modal-body -->

		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary" ng-click = "updateTask()">Save changes</button>
		</div>	<!-- /modal-footer -->
    </div>
  </div>
</div>