<div id="legend">
  <legend>All users</legend>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="input-group search">
      <input type="text" class="form-control" placeholder="Search by name, surname and email">
      <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
    </div>
  </div>
  <div class="col-md-2">
    <div class="valign">
      <a href="/#/users/new">New account <span class="glyphicon glyphicon-plus"></span></a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th> </ht>
      </tr>
      <tr class="row-link" ng-click="openProfile()">
        <td>Dmitrii Stebliuk</td>
        <td>n43jl</td>
        <td>dsteblyuk@gmail.com</td>
        <td>
          <span class="glyphicon glyphicon-remove"></span>
        </td>
      </tr>
      <tr class="row-link" ng-click="openProfile()">
        <td>Miguel Palacio</td>
        <td>MiguelPalacio</td>
        <td>palaciodelgado@gmail.com</td>
        <td>
          <span class="glyphicon glyphicon-remove"></span>
        </td>
      </tr>
      <tr class="row-link" ng-click="openProfile()">
        <td>Gabriele Maddalena</td>
        <td>GabrieleMaddalena</td>
        <td>gabriele.madd@gmail.com</td>
        <td>
          <span class="glyphicon glyphicon-remove"></span>
        </td>
      </tr>
    </table>
  </div>
</div>
