
<!-- Modal -->
<div class="modal fade" id="taskModal" ng-if="currentTask" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

		<div class="modal-header">
			<!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> //close button in header-->
			<a href="#" class="modal-title h4" editable-text="currentTask.title"> {{ currentTask.title || "Add title.." }} </a><span class="pull-right"><span class="glyphicon glyphicon-star"></span> {{ currentTask.estimation || "Add points.." }}</span>
		</div>	<!-- /modal-header -->

		<div class="modal-body row">
			<div class="col-md-6">
				<p>Status: <a href="#" editable-select="currentTask.status" e-ng-options="s.value as s.text for s in statuses"> {{ showStatus() }}</a></p>
				<p>
					<span class="glyphicon glyphicon-plus" ng-show = "!currentTask.id_user_assigned"></span>
					<span ng-show = "currentTask.id_user_assigned">User:</span>
					<span editable-text="currentTask.id_user_assigned"> {{ currentTask.id_user_assigned || "Add a user.." }}</span> 
				</p>
				<p>Priority: <a href="#" editable-select="currentTask.priority" e-ng-options="p.value as p.text for p in priorities"> {{ showPriority() }}</a></p>
				<p>
					<span class="glyphicon glyphicon-plus" ng-show = "!currentTask.description"></span>
					<span ng-show = "currentTask.description">Description:</span>
					<span editable-text="currentTask.description"> {{ currentTask.description || "Add description.." }}</span>
				</p>
				<p>Comments: Here will be comments</p>
			</div>
			<div class="col-md-6">
				<p>
					<span class="glyphicon glyphicon-plus" ng-show = "!currentTask.deadline"></span>
					<span class="glyphicon glyphicon-time"></span>
					<span editable-text="currentTask.deadline"> {{ currentTask.deadline || "Add a deadline" }}</span>
				</p>
				<p><a href = "#" ng-click = "deleteTask()"><span class="glyphicon glyphicon-remove"></span> delete task</a></p>
				<p><span class="glyphicon glyphicon-comment"></span> add a comment</p>
			</div>
		</div>	<!-- /modal-body -->

		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary" ng-click = "updateTask()">Save changes</button>
		</div>	<!-- /modal-footer -->
    </div>
  </div>
</div>


<div class="row">
	<h1 class="title col-md-10">My dashboard</h1>
	<div class="col-md-2">
		<a href="" ng-click = "createTask('1')" data-toggle="modal" data-target="#taskModal">New task   <span class="glyphicon glyphicon-plus"></a>
	</div>
</div>


<div class="row" ng-show = "!tasksInProgress.length">
	<h3 class="col-md-12">It seems like you have no tasks in progress..</h3>
</div>

<div class="row" ng-show = "tasksInProgress.length">
	<h3 class="col-md-12">Tasks in progress</h3>
</div>

<div class="row" ng-show = "tasksInProgress.length">
	<div class="col-md-12">
		<table class="table">
			<tr ng-repeat="task in tasksInProgress" ng-click="openTask(task)" class="warning row-link" data-toggle="modal" data-target="#taskModal">
				<td class="col-md-6">{{task.id_project}} {{task.title}}</td>
				<td class="col-md-2"><span class="badge">10</span> comments</td>
				<td class="col-md-2"><span class="glyphicon glyphicon-time"></span> {{task.deadline}}</td>
				<td class="col-md-2"><button type="button" class="btn btn-info btn-sm btn-block" ng-click="openProjectDash($event, task.id_project)">view project</button></td>
			</tr>
		</table>
	</div>
</div>

<div class="row" ng-show = "!tasksFinished.length">
	<h3 class="col-md-12">It seems like you have no finished tasks..</h3>
</div>

<div class="row" ng-show = "tasksFinished.length">
	<h3 class="col-md-12">Tasks finished</h3>
</div>

<div class="row" ng-show = "tasksFinished.length">
	<div class="col-md-12">
		<table class="table">
			<tr ng-repeat="task in tasksFinished" ng-click="openTask(task)" class="warning row-link" data-toggle="modal" data-target="#taskModal">
				<td class="col-md-6">{{task.id_project}} {{task.title}}</td>
				<td class="col-md-2"><span class="badge">10</span> comments</td>
				<td class="col-md-2"><span class="glyphicon glyphicon-time"></span> {{task.deadline}}</td>
				<td class="col-md-2"><button type="button" class="btn btn-info btn-sm btn-block" ng-click="openProjectDash($event, task.id_project)">view project</button></td>
			</tr>
		</table>
	</div>
</div>



<!--
<div class="row">
	<h1 class="title col-md-12">My dashboard</h1>
</div>
<div class="row">
	<h3 class="col-md-12">Tasks in progress</h3>
</div>

<div class="row">
	<div class="col-md-12">
		<table class="table">
			<tr class="warning row-link" data-toggle="modal" href="partials/task.html" data-target="#taskModal">
				<td class="col-md-6">[DOSE2014] Create frontend pages mockup</td>
				<td class="col-md-2"><span class="badge">10</span> comments</td>
				<td class="col-md-2"><span class="glyphicon glyphicon-time"></span> 11 nov</td>
				<td class="col-md-2"><button type="button" class="btn btn-info btn-sm btn-block" ng-click="openProjectDash($event)">view project</button></td>
			</tr>
			<tr class="danger row-link" data-toggle="modal" href="partials/task.html" data-target="#taskModal">
				<td class="col-md-6">[Google] Requirement consolidation</td>
				<td class="col-md-2"></td>
				<td class="col-md-2"><span class="glyphicon glyphicon-time"></span> 15 dec</td>
				<td class="col-md-2"><button type="button" class="btn btn-info btn-sm btn-block" ng-click="openProjectDash($event)">view project</button></td>
			</tr>
			<tr class="success row-link" data-toggle="modal" href="partials/task.html" data-target="#taskModal">
				<td class="col-md-6">[Virgin] Meeting with developers</td>
				<td class="col-md-2"><span class="badge">7</span> comments</td>
				<td class="col-md-2"></td>
				<td class="col-md-2"><button type="button" class="btn btn-info btn-sm btn-block" ng-click="openProjectDash($event)">view project</button></td>
			</tr>
		</table>
	</div>
</div>
<div class="row">
	<h3 class="col-md-12">Tasks finished</h3>
</div>
<div class="row">
	<div class="col-md-12">
		<table class="table">
			<tr class="danger row-link" data-toggle="modal" href="partials/task.html" data-target="#taskModal">
				<td class="col-md-6">[DOSE2014] Requirement consolidation</td>
				<td class="col-md-2"></td>
				<td class="col-md-2"><span class="glyphicon glyphicon-time"></span> 31 oct</td>
				<td class="col-md-2"><button type="button" class="btn btn-info btn-sm btn-block" ng-click="openProjectDash($event)">view project</button></td>
			</tr>
			<tr class="warning row-link" data-toggle="modal" href="partials/task.html" data-target="#taskModal">
				<td class="col-md-6">[Virgin] Design mockups</td>
				<td class="col-md-2"><span class="badge">7</span> comments</td>
				<td class="col-md-2"></td>
				<td class="col-md-2"><button type="button" class="btn btn-info btn-sm btn-block" ng-click="openProjectDash($event)">view project</button></td>
			</tr>
		</table>
	</div>
</div>
-->