<div id="header">
    <div class="float-left">
        <a href=""><img class="logo" src="img/logo.png"/></a>
    </div>
    <div id="user" class="float-right">
        <a href="/#/user" class="underline">Name</a>
        <span>(<a ng-click="logout()" href="/#/logout" class="underline">Logout</a>)</span>
    </div>
    <div class="float-left">
        <div id="navigation">
            <ul>
                <li>
                    <a href="/#/user/home">Dashboard</a>
                </li>
                <li>
                    <a href="/#/tasks">My Tasks</a>
                </li>
                <li>
                    <a href="/#/ranking">Ranking</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</div>