<div class="block" id="dashboard">
    <div class="page-header">
        <h1>Welcome
            <small> - {{user.name }} {{user.lastname}}</small>
        </h1>
    </div>
    <!--
        <h2>Welcome - {{user.name }} {{user.lastname}}</h2>
    -->
    <div class="projectsList">
        <h3>Your Projects</h3>
        <ul class="media-list">
            <li class="media" ng-repeat="project in userProjects">
                <div class="media-body">
                    <a class="media-heading" href="/#/user/{{user.id}}/project/{{project.id}}"><h4>
                        {{project.name}}</h4>
                    </a>

                    <p>{{project.info}}</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="newProjectContainer">
        <form role="form">
            <div class="form-group">
                <label for="projectName">Project name</label>
                <input type="text" class="form-control" ng-model="newProjectData.name" id="projectName"
                       placeholder="Enter Project name">
            </div>
            <div class="form-group">
                <label for="projectInfo">Password</label>
                <textarea class="form-control" ng-model="newProjectData.info" id="projectInfo"
                          placeholder="Enter project info"></textarea>
            </div>
            <div class="alert alert-warning" role="alert" ng-show="emptyInput">Some data must be entered before project
                can be created<br></div>

            <button ng-click="newProject()" class="btn btn-default">
                New Project
            </button>
        </form>
    </div>
</div> 
