<div id="sprints-block" class="block project-cols">
{{text}}
	<ol>
		<li ng-repeat="sprint in sprints | orderBy: 'id'">
			<h5 class="toggle collapsed">Sprint {{$index + 1}}</h5>
			<table ng-if="sprint.tasks.length > 0" class="sprint">
				<tr>
					<th class="col1"></th>
					<th class="col2">Task</th>
					<th class="col3">Points</th>
					<th class="col4">Status</th>
					<th class="col5">Assigned To</th>
				</tr>
				<tr ng-repeat="task in sprint.tasks | orderBy: 'id'">
					<td class="col1">{{$index + 1}}</td>
					<td class="col2"><a href="/#/user/{{userId}}/project/{{projectId}}/{{task.id}}">{{task.name}}</a></td>
					<td class="col3">{{task.points}}</td>
					<td class="col4">{{task.status}}</td>
					<td class="col5">{{task.assignedto}}</td>
				</tr>
			</table>
			<div class="buttons">
				<div ng-show="userRole[0].role=='Project Manager'">
					<a class="link-button" ng-click="removeSprint(sprint.id)"><span>Remove Sprint</span></a>
				</div>
			</div>
		</li>
	</ol>
	<div class="buttons">
		<div ng-show="userRole[0].role =='Team Leader' || userRole[0].role =='Project Manager'">
			<a class="link-button" ng-click="addSprint()"><span>Add Sprint</span></a>
		</div>
	</div>
</div> 
<div id="requirements-block" class="block project-cols">
	<ol>
		<li ng-repeat="requirement in requirements | orderBy: 'id'">
			<h5 class="toggle collapsed">{{requirement.name}}</h5>
			<table ng-if="requirement.tasks.length > 0" class="requirement">
				<tr>
					<th class="col1"></th>
					<th class="col2">Task</th>
					<th class="col3">Status</th>
					<th class="col4">Points</th>
				</tr>
				<tr ng-repeat="task in requirement.tasks | orderBy: 'id'">
					<td class="col1">{{$index + 1}}</td>
					<td class="col2"><a href="/#/user/{{userId}}/project/{{projectId}}/{{task.id}}">{{task.name}}</a></td>
					<td class="col3">{{task.status}}</td>
					<td class="col4">{{task.points}}</td>
				</tr>
			</table>
			<div class="buttons">
				<div class="inline-label">Requirement Name:</div>
				<div><input type="text" ng-model="requirement.newName"></div>
				<div><a class="link-button" ng-click="changeRequirement(requirement.id, requirement.newName, requirement.estimation)"><span>Modify</span></a></div>
				<div><a class="link-button" ng-click="removeRequirement(requirement.id)"><span>Remove</span></a></div>
			</div>
		</li>
	</ol>
	<div class="buttons">
		<div class="label-div">New Requirement:</div>
		<div class="add-requirement"><input type="text" ng-model="newRequirement"></div>
		<div class="add-requirement" >
			<a class="link-button" ng-click="addRequirement()" ng-disabled="userRole[0].role !='DEV'"><span>Add Requirement</span></a>
		</div>
	</div>
</div>
