<div id="addUsers" class="block">
	<div class="float-left">
		<div>
			<div class="label-div">Filter:</div>
			<input type="text" name="filtername" ng-model="nameFilter">
		</div>
		<div>
			<div class="label-div">User:</div>
			<select size="5" name="user" ng-model="selectedUser" ng-options="x.id as x.name for x in leftUsers | filter: nameFilter | orderBy: 'name'">
			</select> <br />
			<div class="label-div">Role:</div>
			<select name="role" ng-model="role">
				<option value="Developer" selected>Developer</option>
				<option value="Team Leader">Team Leader</option>
			</select>
			<br /> <br />
			<div>
				<a class="link-button" ng-click="addUser()"><span class="add-usertoproject">Add to Project</span></a>
			</div>
		</div>
	</div>
	<div class="float-left">
		<table>
			<tr>
				<th class="col1">User</th>
				<th class="col2">Role</th>
				<th class="col3"></th>
			</tr>
			<tr ng-repeat="user in projectUsers">
				<td class="col1">{{user.name}}</td>
				<td class="col2">{{user.role}}</td>
				<td class="col3"><a class="link-button" ng-click="removeUser(user.id)"><span>Remove</span></a></td>
			</tr>
		</table>
	</div> 
	<div class="clear"></div>
	<div class="buttons">
		<div>
			<a class="link-button" href=""><span>Done</span></a>
		</div>
	</div>
</div> 
