<div id="editUser" class="block ">
    <div class="row">
        <div class="col-md-offset-1">
            <h3>Edit your personal info</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <form role="form" id="editUserForm">
                <div ng-show="changesSaved" class="alert alert-success" role="alert">
                    <p> Changes saved </p>
                </div>
                <div class="form-group">
                    <label for="name">First name</label>
                    <input type="text" class="form-control" ng-model="updateUser.name" id="name"
                           placeholder="Enter your first name">
                </div>
                <div class="form-group">
                    <label for="lastname">Last name</label>
                    <input type="text" class="form-control" ng-model="updateUser.lastname" id="lastname"
                           placeholder="Enter your last name">
                </div>
                <div class="form-group">
                    <label for="oldPassword">Old password *</label>
                    <input type="password" class="form-control" ng-model="oldPassInput" id="oldPassword"
                           placeholder="Enter your old password">
                </div>
                <div ng-show="oldPasswordError" class="alert alert-danger" role="alert">
                    <p> Enter your old password before making changes to your account </p>
                </div>
                <div class="form-group">
                    <label for="newPassword">New password</label>
                    <input type="password" class="form-control" ng-model="password" id="newPassword"
                           placeholder="Enter a password between 3 and 20 characters long">
                </div>
                <div class="form-group">
                    <label for="newPasswordRepeat">Repeat new password</label>
                    <input type="password" class="form-control" ng-model="passwordRepeat" id="newPasswordRepeat"
                           placeholder="Enter your password again">
                </div>
                <div ng-show="passwordError" class="alert alert-danger" role="alert">
                    <p> Try again, password don't match or are to long/short </p>
                </div>
                <button ng-click="save()"
                        class="buttons">
                    Save changes
                </button>
                <button ng-click="deleteUser()"
                        class="buttons">
                    Delete Account
                </button>
            </form>
        </div>
    </div>
</div>