<div id="legend">
  <legend>All users</legend>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="input-group search">
      <input type="text" class="form-control" ng-model="query" placeholder="Search by name, surname and email">
      <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
    </div>
  </div>
  <div class="col-md-2">
    <div class="valign">
      <a href="/#/users/new">New account <span class="glyphicon glyphicon-plus"></span></a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table user-table">
      <tr>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th> </ht>
      </tr>
      <tr ng-repeat="user in filtered = (users | filter:search)" class="row-link" ng-click="openProfile(user)">
        <td>{{ user.name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td class="remove-column">
          <span class="glyphicon glyphicon-remove user-remove" ng-click="deleteUser($event, user)"></span>
        </td>
      </tr>
    </table>
    <p ng-if="filtered.length == 0">There is no users considering your filter.</p>
  </div>
</div>
