/* General */
html {
    height: 100%;
}

body {
    background-image: url('../img/pattern.png');
    margin: 0px;
    padding: 0px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    height: 100%;
}

a:hover, a:link, a:visited, a:active {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

img {
    border: none;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear {
    clear: both;
}

a.underline {
    text-decoration: underline;
}

#wrapper {
    min-height: 100%;
    margin-bottom: 80px;
}

#header {
    width: 100%;
    background-image: url('../img/line.png');
    background-color: #000000;
    background-repeat: repeat-x;
    background-position: bottom left;
    color: #ffffff;
}

#content {
    width: 100%;
    padding-bottom: 50px;
}

#inner-content {
    padding: 10px;
}

#footer {
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #000000;
    border-top: 1px solid #8e8e8e;
    padding-top: 10px;
}

#footer p {
    text-align: center;
    font-size: 12px;
    color: #ffffff;
    line-height: 15px;
    margin: 0px;
    padding: 0px;
}

#navigation {
    background-image: url('../img/button.png');
    background-repeat: repeat-x;
    border-bottom: solid #474745 1px;
    border-top: solid #474745 1px;
    height: 42px;
    vertical-align: middle;
    margin-top: 80px;
}

#navigation ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
}

#navigation ul li {
    display: inline-block;
    width: 149px;
    height: 42px;
    border: none;
    border-left: solid #474745 1px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    line-height: 42px;
    vertical-align: middle;
}

#navigation ul li:last-child {
    border-right: solid #474745 1px;
}

#navigation ul li a:hover {
    background-color: #b6b6b6;
    width: 149px;
    height: 42px;
}

#navigation ul li a {
    width: 149px;
    height: 42px;
    display: block;
    color: #ffffff;
}

#user {
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;
}

img.logo {
    margin: 10px;
    width: 555px;
    height: 120px;
}

div.block {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #8e8e8e;
    padding: 30px 10px;
}

div.page {
    margin: auto;
}

/* Forms */
form {
    padding: 5px;
}

fieldset {
    border: none;
    margin: 5px;
}

legend {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

div.label-div {
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0px 5px 0px;
}

input[type="text"] {
    display: block;
    margin: 0px;
    min-width: 150px;
}

textarea {
    display: block;
    margin: 0px;
    width: 50em;
    height: 5em;
}

select {
    min-width: 150px;
}

label {
    font-size: 14px;
}

input[type="radio"] {
    margin: 2px 15px 2px 2px;
}

.buttons, button {
    background-color: #333333;
    color: #ffffff;
    min-width: 100px;
    height: 35px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    padding: 0px 8px;
}

a.link-button {
    cursor: pointer;
}

a.link-button span {
    text-align: center;
    display: block;
    min-width: 100px;
    height: 35px;
    line-height: 35px;
    background-color: #333333;
    color: #ffffff;
    font-size: 14px;
    padding: 0px 8px;
}

div.inline-fields .float-left {
    margin-left: 10px;
}

div.inline-fields .label-div {
    margin-top: 0px;
}

table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}

th {
    background-color: #333333;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

/* Dashboard */
#dashboard .projects-column {
    float: left;
    margin-right: 10px;
    width: 70%;
}

#dashboard .users-column {
    float: left;
    width: 25%;
}

/* Ranking */
#ranking table {
    width: 90%;
}

#ranking table .col1 {
    width: 3%;
}

#ranking table .col2 {
    width: 60%;
}

#ranking table .col3 {
    width: 15%;
}

#ranking table td.col1 {
    text-align: right;
    padding-right: 5px;
}

#ranking table td.col2 {
    padding-left: 8px;
}

#ranking table td.col3 {
    text-align: center;
}

/* Login */
#login a {
    color: #285e8e;
}

/* Signup */
#signup form#signupForm {
    width: 60%;
    padding-left: 20px;
}

/* Add User view */
#addUsers {
    padding-left: 50px;
}

#addUsers a.link-button span {
    width: 100px;
}

#addUsers div.buttons {
    text-align: right;
}

#addUsers div.buttons > div {
    display: inline-block;
    margin-right: 10px;
}

#addUsers table {
    line-height: 50px;
    margin-left: 30px;
}

#addUsers table th {
    text-align: center;
}

#addUsers table .col1 {
    width: 250px;
}

#addUsers table .col2 {
    width: 150px;
}

#addUsers table .col3 {
    width: 130px;
}

#addUsers table td.col1 {
    padding-left: 8px;
}

#addUsers table td.col2 {
    padding-left: 8px;
}

#addUsers table td.col3 {
    padding-left: 15px;
}

#addUsers a.link-button span.add-usertoproject {
    width: 160px !important;
}

/* User dashboard */

#dashboard textarea {
    resize: none;
}

#dashboard form {
    width: 40%;
    padding-left: 10px;

}

#dashboard .projectsList {
    padding-left: 10px;
}

#dashboard .buttons {
    background-color: #333333;
    color: #ffffff;
    min-width: 100px;
    height: 35px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    padding: 0px 8px;
}

/* Manage projects view */
.project-cols {
    width: 47%;
    float: left;
}

#sprints-block {
    margin-right: 10px;
}

#sprints-block ol li h5,
#requirements-block ol li h5 {
    /*cursor: pointer;*/
}

/*#sprints-block ol h5.collapsed,
#requirements-block ol h5.collapsed {
	text-decoration: underline;
}

#sprints-block ol h5.expanded,
#requirements-block ol h5.expanded {
	text-decoration: none;
}*/

#sprints-block table.sprint,
#requirements-block table.sprint {
    line-height: 25px;
}

#sprints-block table.sprint tr th,
#requirements-block table.requirement tr th {
    text-align: center;
}

#sprints-block table.sprint tr td,
#requirements-block table.requirement tr td {
    line-height: 40px;
}

#sprints-block table.sprint .col1,
#requirements-block table.requirement .col1 {
    width: 25px;
    text-align: center;
}

#sprints-block table.sprint .col2,
#requirements-block table.requirement .col2 {
    width: 180px;
    padding-left: 5px;
}

#sprints-block table.sprint .col2 a,
#requirements-block table.requirement .col2 a {
    text-decoration: underline;
    cursor: pointer;
}

#sprints-block table.sprint .col3,
#requirements-block table.requirement .col3 {
    width: 60px;
    text-align: center;
}

#sprints-block table.sprint .col4 {
    width: 120px;
    padding-left: 5px;
}

#requirements-block table.requirement .col4 {
    width: 120px;
    text-align: center;
}

#sprints-block table.sprint .col5,
#requirements-block table.requirement .col5 {
    width: 130px;
    padding-left: 5px;
}

#sprints-block ol li div.buttons {
    margin-top: 5px;
    text-align: right;
}

#requirements-block ol li div.buttons {
    margin-top: 5px;
    text-align: right;
}

#requirements-block ol li div.buttons div.inline-label {
    margin-top: 20px;
}

#requirements-block ol li div.buttons input[type="text"] {
    margin-bottom: -8px;
}

#sprints-block > div.buttons,
#requirements-block > div.buttons {
    text-align: left;
}

#sprints-block div.buttons > div,
#requirements-block div.buttons > div {
    display: inline-block;
    margin-right: 10px;
}

#requirements-block div.buttons div.add-requirement input[type="text"] {
    margin-bottom: -8px;
}

#signupLink {
    color: #3071a9;
}
