<div data-ng-controller="SprintsDashboardController" data-ng-init="init()">
    <h1>Sprints Dashboard <small>Drag & Drop tasks</small></h1>
    <div class="col-md-12" data-ng-repeat="sprint in sprints">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                {{sprint.number}} <small>{{sprint.start_date | date:'yyyy-MM-dd'}} - {{sprint.end_date | date:'yyyy-MM-dd'}}</small>
                </h3>
            </div>
            <div class="panel-body" data-ng-init="sprint.tasks = loadTasks(sprint)" ng-drop="true"  ng-drop-success="onDropSprint(sprint, $data,$event)">
                <div class="" data-ng-repeat="task in sprint.tasks">
                    <div
                        ng-drag="true"
                        ng-drag-data="task"
                        ng-drag-success="onDragSprint(sprint, $data,$event)"
                        ng-center-anchor="{{centerAnchor}}"
                        class="col-md-12">
                        <h5>{{task.title}}</h5> - {{task.hours_estimated}} hs
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                BackLog
                </h3>
            </div>
            <div class="panel-body" ng-drop="true" ng-drop-success="onDropBacklog($data,$event)">
                <div
                    class="col-md-12"
                    ng-drag="true"
                    data-ng-repeat="task in tasks_backlog"
                    ng-drag-data="task"
                    ng-drag-success="onDragBacklog($data,$event)"
                    ng-center-anchor="{{centerAnchor}}">
                    <h5>{{task.title}}</h5> - {{task.hours_estimated}} hs
                </div>
            </div>
        </div>
    </div>
</div>