
<html data-ng-app="dashboard">
<head>
<title>Developer Dashboard</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/dashboard.css" rel="stylesheet">
</head>

<body data-ng-controller="Users">

	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<p class="navbar-brand">DevTool</p>
			<p class="navbar-text">Hello, {{ user.firstname + " " +
				user.lastname}}</p>

			<ul class="nav navbar-nav navbar-right">
				<li class="hidden"><a>Messages</a></li>
				<li data-ng-controller="Profile"><a data-ng-click="viewProfile()" data-ng-href="#">Profile</a></li>
				<li><a data-ng-click="logout()" data-ng-href="#">Exit</a></li>
			</ul>

		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 col-md-3">
				<div class="row" data-ng-controller="Project">

					<button type="button" class="btn btn-primary btn-lg btn-block" data-ng-click="openNewProject()">New
						Project</button>

				</div>

				<div class="row well div_myProjects">
					<ul class="list-group col-xs-12" role="group">
						<li class="list-group-item" data-ng-hide="projects.length > 0">
							Create a project by clicking the button New Project</li>
						<li class="list-group-item btn_project"
							data-ng-repeat="proj in projects | orderBy:'creationDate'"
							data-ng-click="setProject(proj.id)" data-ng-href="">
							{{proj.name}}</li>

					</ul>
				</div>
			</div>

			<div class="col-xs-9">
				<div class="row">

					<nav class="navbar navbar-default"
						data-ng-show="project.id != undefined">
						<div class="container">
							<p class="navbar-brand">{{project.name}}</p>
							<ul class="nav navbar-nav navbar_project_edit" data-ng-controller="Project">
								<li><a class="navbar-link navbar_project_edit"
									data-ng-show="user.id == project.manager" data-ng-click="openDevManager()">
										(Manage)
									</a></li>
							</ul>
							<p class="navbar-text navbar-project-info" style="">{{
								getProjectFormatedDate() }}</p>

							<p class="navbar-text">{{ getProjectCompletion() }}% completed</p>

							<p class="navbar-text">Manager: {{ projectManager.firstname + " "
								+ projectManager.lastname }}</p>

						</div>


					</nav>

				</div>
				<div class="row panel panel-default">

					<div class="panel-body" data-ng-hide="project.id != undefined">You
						are currently not enroled in any project.</div>

					<div class="panel-body" data-ng-show="project.id != undefined">
						<div class="col-xs-5 noPadding">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<div class="col-xs-12">


										<div class="panel panel-default">
											<div class="panel-heading acc_panel" role="tab" id="head_pbl"
												data-toggle="collapse" data-parent="#accordion"
												href="#body_pbi" aria-expanded="true"
												aria-controls="body_pbi">Project Backlog</div>
											<div id="body_pbi" class="panel-collapse collapse"
												role="tabpanel" aria-labelledby="body_pbi">
												<ul class="list-group">
													<li class="list-group-item"
														data-ng-repeat="pbi in backlog | orderBy:'priority'"><b>{{
															pbi.name }}: </b>{{pbi.description}}</li>
												</ul>
											</div>
										</div>





									</div>
								</div>

								<div class="form-group">
									<div class="btn-group col-xs-12" role="group">
										<button type="button" class="btn btn-default col-xs-9" onClick="toggleVisible('panel_spl_items')">
											Current Sprintlog: {{ currentSprint.name }}</button>
										<div class="btn-group" role="group">
											<button type="button" class="btn btn-default dropdown-toggle"
												data-toggle="dropdown" aria-expanded="false">
												Previous <span class="caret"></span>
											</button>
											<ul class="dropdown-menu" role="menu">
												<li data-ng-repeat="spl in sprints">
													<a href="#" data-ng-click="setCurrentSprint($index)">
														{{ spl.name }}
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>

								<div id="panel_spl_items" class="panel panel-default hidden">
									
								<table class="table table-hover">
									<thead>
										<tr>
											<th class="col-xs-9">Task</th>
											<th style="text-align: right; margin-right: 5px;">Points</th>
										</tr>
									</thead>
									<tbody>
										<tr data-ng-repeat="tsk in tasks | orderBy:['-state','points']:true">
											<td>
												<span class="label" data-ng-class="(tsk.state=='Completed') ? 'label-success' : 'label-warning'">
													{{ tsk.name }}
												</span>
												</td>
											<td style="text-align: right; margin-right: 5px;">
												{{tsk.points}}
											</td>
										</tr>
									</tbody>


								</table>
								</div>

								<div class="form-group">
									<div class="col-xs-12">
										<button type="button" class="btn btn-default btn-block">View
											Tasks</button>
									</div>
								</div>
								<div class="form-group hidden">
									<div class="col-xs-12">
										<button type="button" class="btn btn-default btn-block">Project
										</button>
									</div>
								</div>
							</form>

							<div class="panel panel-default">
								<div class="panel-heading">Project description</div>
								<div class="panel-body">{{ project.description }}</div>
							</div>

						</div>

						<div class="col-xs-7">
							<div class="panel panel-default">
								<div class="panel-heading">Current Sprintlog Burndown</div>
								<div class="panel-body">
									<div id="div_chart" style="width: 100%; height: 300px;"></div>

								</div>
							</div>

							<div class="panel panel-default"
								data-ng-show="developers.length > 0">
								<div class="panel-heading">Developer Chart</div>
								<table class="table table-hover">
									<thead>
										<tr>
											<th class="col-xs-9">Name</th>
											<th style="text-align: right; margin-right: 5px;">Points</th>
										</tr>
									</thead>
									<tbody>
										<tr data-ng-repeat="dev in developers | orderBy:'-points'">
											<td>{{ dev.firstname + " " + dev.lastname }}</td>
											<td style="text-align: right; margin-right: 5px;">{{
												dev.points}}</td>
										</tr>
									</tbody>


								</table>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">Current Events</div>
								<div class="panel-body"></div>
							</div>

						</div>

					</div>
				</div>

			</div>
		</div>

	</div>

	<div class="modal fade" id="modal_newProject" tabindex="-1" role="dialog"
		aria-labelledby="New Project" aria-hidden="true" data-ng-controller="Project">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">New project</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="txt_projectName" class="col-sm-2 control-label">Name</label>
						<div class="col-sm-8">
							<input class="form-control" id="txt_projectName"
								placeholder="Project name" data-ng-model="name">
						</div>
						<span data-ng-show="nameRequired">{{nameRequired}}</span>
					</div>
					
					<div class="form-group">
						<label for="txt_projectDescription" class="col-sm-2 control-label">Description</label>
						<div class="col-sm-8">
							<textarea class="form-control" rows="3" id="txt_projectDescription"
								placeholder="Project description" data-ng-model="description"></textarea>
							
						</div>
						<span data-ng-show="descriptionRequired">{{descriptionRequired}}</span>
					</div>
					
					
        			<div class="form-group">
						<label for="sel_projectStake" class="col-sm-2 control-label">Stakeholder</label>
							<div class="col-sm-8">
								<select class="form-control" name="sel_projectStake"
									data-ng-model="stakeholder"
									data-ng-options="stake.firstname+' '+stake.lastname for stake in srvStakeholders track by stake.id">
								</select>

							</div>
							<span data-ng-show="stakeRequired">{{stakeRequired}}</span>
					</div>
					
					</form>
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" data-ng-click="saveProject()">Create</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="modal_manager" tabindex="-1" role="dialog"
		aria-labelledby="Manage Project" aria-hidden="true" data-ng-controller="Project">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Manage developers</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-xs-11 well well-sm">
							<div class="row">
								<div class="col-xs-2">
									Developer
								</div>
								<div class="col-xs-8">
									<select class="form-control" name="sel_addDev"
										data-ng-model="addDeveloperId"
										data-ng-options="dev.firstname+' '+dev.lastname for dev in srvDevelopers track by dev.id">
									</select>
								</div>
								<div class="col-xs-2">
									<button type="button" class="btn btn-default" data-ng-click="addDev()">Add</button>
								</div>
							</div>
							
						</div>
					</div>
					<br/>
					<div class="row" data-ng-repeat="dev in developers">
						<div class="col-xs-10">
							{{dev.firstname + ' ' + dev.lastname}}
						</div>
						<div class="col-xs-2">
							<a class="navbar-link navbar_project_edit" data-ng-click="removeDev(dev.id)">
								(Remove)
							</a>
						</div>
					</div>
					
					
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="modal_profile" tabindex="-1" role="dialog"
		aria-labelledby="My profile" aria-hidden="true" data-ng-controller="Profile">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">My profile</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form">
					
					<div class="form-group">
						<label class="col-sm-5 control-label">Type</label>
						<div class="col-sm-7">
							<label class="control-label" style="font-weight:normal;">
								{{ user.userType }}
							</label>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-5 control-label">First name</label>
						<div class="col-sm-7">
							<label class="control-label" style="font-weight:normal;">{{user.firstname}}</label>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-5 control-label">Last name</label>
						<div class="col-sm-7">
							<label class="control-label" style="font-weight:normal;">{{user.lastname}}</label>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-5 control-label">Sex</label>
						<div class="col-sm-7">
							<label class="control-label" style="font-weight:normal;">{{ user.sex=="F"? "Female":"Masculine"}}</label>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-5 control-label">Birth date</label>
						<div class="col-sm-7">
							<label class="control-label" style="font-weight:normal;">
								{{ getDate(user.dateOfBirth) }}
							</label>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-5 control-label">Country</label>
						<div class="col-sm-7">
							<label class="control-label" style="font-weight:normal;">
								{{ user.country }}
							</label>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-5 control-label">Timezone</label>
						<div class="col-sm-7">
							<label class="control-label" style="font-weight:normal;">
								{{ user.timezone }}
							</label>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-5 control-label">Organization</label>
						<div class="col-sm-7">
							<label class="control-label" style="font-weight:normal;">
								{{ user.organization }}
							</label>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-5 control-label">Email</label>
						<div class="col-sm-7">
							<label class="control-label" style="font-weight:normal;">
								{{ user.email }}
							</label>
						</div>
					</div>
					
					
					
					
					
					</form>
					<div class="row">
						<div class="col-sm-12" style="text-align:right;">
							<button type="button" class="btn btn-info">Change password</button>
						</div>
					</div>
						
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>


	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		
	<script src="includes/jquery-ui.min.js"></script>

	<script src="includes/graph/jquery.canvasjs.min.js"></script>

	<script src="includes/jquery.cookie.js"></script>

	<script src="includes/bootstrap.min.js"></script>

	<script src="includes/angular.min.js"></script>

	<script src="includes/dashboard.js"></script>
</body>
</html>