<!DOCTYPE html>
<html data-ng-app="registration">

<head>
<title>Registration</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/jquery-ui.min.css" rel="stylesheet">
<link href="css/registration.css" rel="stylesheet">
</head>
<body>

  <form class="form-horizontal" role="form" data-ng-controller="regController">
    <div class="form-group">
      <label for="inputFirstName" class="col-sm-2 control-label">First Name</label>
      <div class="col-sm-4">
        <input class="form-control" id="inputFirstName" placeholder="First Name" data-ng-model="formInfo.fName">
      </div>
       <span data-ng-show="fnameRequired">{{fnameRequired}}</span>
    </div>
    <div class="form-group">
      <label for="inputLastName" class="col-sm-2 control-label">Last Name</label>
      <div class="col-sm-4">
        <input class="form-control" id="inputLastName" placeholder="Last Name" data-ng-model="formInfo.lName">
      </div>
       <span data-ng-show="lnameRequired">{{lnameRequired}}</span>
    </div>
    <div class="form-group">
      <label for="inputSex" class="col-sm-2 control-label" >Sex</label>
      <div class="row">
      	<div class="col-xs-1">
      		<input class="form-control" type="radio" data-ng-model="formInfo.Sex" value="M" />male
      	</div>
      	<div class="col-xs-1">
      		<input class="form-control" type="radio" data-ng-model="formInfo.Sex" value="F" />female
      	</div>
      	<span data-ng-show="sexRequired">{{sexRequired}}</span>
      </div>
    </div>
    <div class="form-group">
       <label for="inputDateOfBirth" class="col-sm-2 control-label">Date of Birth</label>
      <div class="col-sm-4">
          	<input type="text" class="form-control" id="birthdate" 
          		placeholder="Date of Birth" data-ng-model="formInfo.Birth"/>
      </div>
       <span data-ng-show="birthRequired">{{birthRequired}}</span>
    </div>
    <div class="form-group">
      <label for="inputCity" class="col-sm-2 control-label">City</label>
      <div class="col-sm-4">
        <input class="form-control" id="inputCity" placeholder="City" data-ng-model="formInfo.City">
      </div>
       <span data-ng-show="cityRequired">{{cityRequired}}</span>
    </div>
    <div class="form-group">
      <label for="inputCountry" class="col-sm-2 control-label">Country</label>
      <div class="col-sm-4">
        <input class="form-control" id="inputCountry" placeholder="Country" data-ng-model="formInfo.Country">
      </div>
       <span data-ng-show="countryRequired">{{countryRequired}}</span>
    </div>
    <div class="form-group">
      <label for="inputTimeZone" class="col-sm-2 control-label">Time Zone</label>
      <div class="col-sm-4">
        <select class="form-control" id="inputTzone" data-ng-model="formInfo.tZone"
        	data-ng-options="time for time in timezones">
        	
        </select>
      </div>
       <span data-ng-show="tZoneRequired">{{tZoneRequired}}</span>
    </div>
    <div class="form-group">
      <label for="inputOrganization" class="col-sm-2 control-label" >Organization</label>
      <div class="col-sm-4">
        <input class="form-control" id="inputOrganization" placeholder="Organization" data-ng-model="formInfo.Organization">
      </div>
       <span data-ng-show="organizationRequired">{{organizationRequired}}</span>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="col-sm-2 control-label" >Email</label>
      <div class="col-sm-4">
        <input class="form-control" id="inputEmail" placeholder="Email" data-ng-model="formInfo.Email">
      </div>
       <span data-ng-show="emailRequired">{{emailRequired}}</span>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-sm-2 control-label" >Password</label>
      <div class="col-sm-4">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password" data-ng-model="formInfo.Password">
      </div>
       <span data-ng-show="passwordRequired">{{passwordRequired}}</span>
    </div>
    <div class="form-group">
      <label for="inputLang" class="col-sm-2 control-label">Languages</label>
      <div class="col-sm-4">
        <select class="form-control" name="inputLang" data-ng-model="formInfo.Languages" multiple
        	data-ng-options="lang for lang in languages.languages">
        </select>
        <p>Hold down the Ctrl button to select multiple options.</p>
      </div>
       <span data-ng-show="languagesRequired">{{languagesRequired}}</span>
    </div>
    <div class="form-group">
      <label for="inputUser" class="col-sm-2 control-label">Type of user</label>
      <div class="col-sm-4">
        <select class="form-control" name="inputUser" data-ng-model="formInfo.User">
        	<option value="stakeholder">stakeholder</option>
        	<option value="developer">developer</option>
        </select>
   	  </div>
      <span data-ng-show="userRequired">{{userRequired}}</span>
    </div>
    <div class="form-group" data-ng-if="formInfo.User == 'developer'">
      <label for="inputPLang" class="col-sm-2 control-label">Programing Languages</label>
      <div class="col-sm-4">
        <select class="form-control" name="inputPLang" data-ng-model="formInfo.pLanguages" multiple
        	data-ng-options="lang for lang in languages.programmingLanguages">
        </select>
        <p>Hold down the Ctrl button to select multiple options.</p>
      </div>
      <span data-ng-show="pLanguagesRequired">{{pLanguagesRequired}}</span>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" data-ng-click="saveData()" class="btn btn-success">Sign up</button>
        <button type="button" data-ng-click="goTo('login.html')" class="btn btn-default">Return</button>
      </div>
    </div>
    <span hidden>{{formInfo}}</span> 
  </form>
<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<script src="includes/jquery-ui.min.js"></script>

	<script src="includes/bootstrap.min.js"></script>

	<script src="includes/angular.min.js"></script>

	<script src="includes/registration.js"></script>

</body>
</html>