<section data-ng-controller="ProjectController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="project.name"></h1>
	</div>
	<p class="lead" data-ng-bind="project.description"></p>
	<div>
		<h2>Requirements</h2>
		<ul>
			<li data-ng-repeat='req in project.reqs'>
				Req. {{$index + 1}} => {{req.title}}
			</li>
		</ul>
	</div>
	<a data-ng-href='#!/project/{{project.id}}/requirements/create'> Add Requirement </a>

	<div>
		<h2>Current Sprints</h2>
		<ul>
			<li data-ng-repeat='sprint in sprints'>
				Sprint number: {{sprint.number}}. Start Date: {{sprint.start_date | date:'yyyy-MM-dd'}}. End Date: {{sprint.end_date |  date:'yyyy-MM-dd'}}
			</li>
		</ul>
	</div>


</section>