<button type="button" class="btn btn-default" ng-controller="CreateSprintCtr" ng-click="createSprint()">Add sprint</button>

<table ng-if="sprints.length != 0" class="table table-hover text-center">
    <thead>
    <tr>
        <th></th>
        <th class="clickable text-center">#id</th>
        <th class="clickable text-center">Status</th>
        <th class="clickable text-center">Duration</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="sprint in sprints" class="warning">
        <td>
            <img class="clickable inline" ng-click="remove(sprint)" src="/pages/images/remove.png" style="width: 20px; height: 20px"/>
            <img class="clickable inline" ng-controller="EditSprintCtr" ng-click="editSprint(sprint)" src="/pages/images/edit.png" style="width: 20px; height: 20px"/>
        </td>
        <td ng-click="go(sprint)">{{sprint.id}}</td>
        <td ng-click="go(sprint)">{{sprint.status}}</td>
        <td ng-click="go(sprint)">{{sprint.duration}}</td>
    </tr>
    </tbody>
</table>
