<button type="button" class="btn btn-default" ng-click="add_task()">Add task</button>

<table class="table table-hover text-center">
    <thead>
    <tr>
        <th></th>
        <th class="clickable text-center">#id</th>
        <th class="clickable text-center">Type</th>
        <th class="clickable text-center">Position</th>
        <th class="clickable text-center">Title</th>
        <th class="clickable text-center">Priority</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="task in tasks" class="warning">
        <td>
            <img class="clickable inline" ng-click="remove(task)" src="/pages/images/remove.png" style="width: 20px; height: 20px"/>
            <img class="clickable inline" ng-click="edit(task)" src="/pages/images/edit.png" style="width: 20px; height: 20px"/>
        </td>
        <td ng-click="go(task)">{{task.id}}</td>
        <td ng-click="go(task)">{{task.type}}</td>
        <td ng-click="go(task)">{{task.position}}</td>
        <td ng-click="go(task)">{{task.title}}</td>
        <td ng-click="go(task)">{{task.priority}}</td>
    </tr>
    </tbody>
</table>