<section data-ng-controller="TaskController" data-ng-init='init()'>
	<div class="page-header">
		<h1>New Task</h1>
	</div>
	<div class="col-md-12">
		<form name="taskForm" class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>
				<div class="form-group">
					<label class="control-label" for="name">Title</label>
					<div class="controls">
						<input name="title" type="text" data-ng-model="task.title" id="title" class="form-control" placeholder="Title" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="name">Points</label>
					<div class="controls">
						<input name="points" type="text" data-ng-model="task.points" id="points" class="form-control" placeholder="Points" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="description">Description</label>
					<div class="controls">
						<textarea name="description" data-ng-model="task.description" id="description" class="form-control" cols="30" rows="10" placeholder="Description"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="name">Hours Estimated</label>
					<div class="controls">
						<input name="hours_estimated" type="text" data-ng-model="task.hours_estimated" id="hours_estimated" class="form-control" placeholder="Hours Estimate" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="name">Hours Spent</label>
					<div class="controls">
						<input name="hours_spent" type="text" data-ng-model="task.hours_spent" id="hours_spent" class="form-control" placeholder="Hours Spent" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="name">Progress</label>
					<div class="controls">
						<select name='progress' data-ng-init='task.progress = "New"' data-ng-model='task.progress' id='progress' class="form-control" required>
							<option value="New">
								New
							</option>
							<option value="In progress">
								In progress
							</option>
							<option value="Completed">
								Completed
							</option>

						</select>
					</div>
				</div>
				<div class="form-group">
                   <label class="control-label" for="name">Sprint Number</label>
                   <div class="controls">
                       <select ng-model="task.sprint_id" name='task.sprint_id' ng-options="sprint.number for sprint in sprints track by sprint.id" required>
                       	<option value="">Backlog</option>
                       </select>
                   </div>
               </div>
				<div class="form-group">
					<input type="submit" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>