@CHARSET "UTF-8";

.navbar{
	padding-top:3px;
}
.navbar-right{
	margin-right:20px;
}
body { 
	padding-top: 70px; 
	overflow-x:hidden;
}
a{
	cursor:pointer;
}
	
.row{
	margin-left:0px;
}
.div_myProjects{
	margin-top:10px;
}
.btn_project{
	text-align:left;
}
.navbar-project-info{
	
}
.navbar_project_edit{
	padding:0px;
	margin:0px;
}

.noPadding{
	padding:0px!important;
}

#div_chart{
	font-family:inherit;
	font-size:12px;
}
.btn_project:hover{
	background-color:#F5F5F5;
}
.btn_project{
	cursor:pointer;
}















