<section data-ng-controller="RequirementController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="requirement.title"></h1>
	</div>
	<p class="lead" data-ng-bind="requirement.description"></p>
	<div class="list-group">
		<div data-ng-repeat="task in requirement.tasks" class="list-group-item">
			<h4 class="list-group-item-heading">{{task.title}}</h4>
			<p class="list-group-item-text">{{task.description}}</p>
            <a data-ng-href='#!/requirements/{{requirement.id}}/tasks/{{task.id}}/edit' >Edit</a>			
        	<a data-confirmed-click="removeTask(requirement, task)" data-ng-confirm-click="Are you sure?">
            	Delete
            </a>
		</div>
	</div>
	<a data-ng-href='#!/requirements/{{requirement.id}}/tasks/create'> Add Task </a>
	<a data-ng-href="#!/requirements/{{requirement.id}}/edit" class="list-group-item">
		Edit Requirement
	</a>
	<a  data-ng-confirm-click="Are you sure?" 
    	data-confirmed-click="remove()" 
    	class="list-group-item">
		Delete Requirement
	</a>
</section>