<div ng-include="'partials/header.html'"></div>
<div ng-include="'partials/pestanas.html'"></div>
    
<article ng-init="init()">  
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-10">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">+</button>
<!--                <button type="button" class="btn btn-danger"  ng-disabled="{{project.owner==0}}"  data-toggle="modal" data-target="#exampleModal2" >-</button>-->
            </div>
        </div>
   </div>     
   <div>  
        <div class="container">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <h2>Members - Project: {{project.project_name}}</h2>
              </div>
            </div>

            <div class="row">
              <div class="col-md-10 col-md-offset-1" style="height:315px; overflow-y:scroll;">
                <table class="table">
                  <tr>
                    <th>
                        <div class="checkbox disabled">
                        <label>
                            <input type="checkbox" value="" disabled>
                        </label>
                        </div>
                    </th> 
                    <th>Name</th>
                    <th>Email</th>
                    <th>Points</th>
                  </tr>
                  <tr ng-repeat="member in members | orderBy:'name'" >
                    <td>
                        <div ng-if="member.owner == 1">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="memberEmail" data-toggle="modal" ng-checked="{{member.owner == 1}}" ng-disabled="{{project.owner==0}}" ng-click="setUpdateMemeber(member)" data-target="#modalUpgrade">
                                </label>
                            </div>
                        </div>
                        <div ng-if="member.owner==0">
                            <div class="checkbox" >
                                <label>
                                    <input type="checkbox" ng-model="memberEmail" data-toggle="modal" ng-disabled="{{project.owner==0}}" ng-click="setUpdateMemeber(member)" data-target="#modalUpgrade">
                                </label>
                            </div>
                        </div>
                    </td>
                    <td>{{member.name}}</td>
                    <td>{{member.email}}</td>
                    <td>{{project.points}}</td>
                    <td>
                        <button type="button" ng-disabled="{{project.owner==0}}" class="btn btn-default" data-toggle="modal" data-target="#exampleModal2" ng-click="setDeleteUser(member.email)">
                            <i class="fa fa-times"></i>                           
                        </button>
                    </td>
                  </tr>
                </table>
              </div>
              </div>
        </div> <!-- end of container --> 
    </div>
    
     <!-- div infomation-->
        <div class="container">
            <div class="row">
                <div id="information" class="col-lg-7 col-lg-offset-2">
                    <div class="alert alert-danger" id="alert-danger" role="alert" data-ng-if="addErrorMsgVisible">
                        <strong>Error adding Member!</strong>
                    </div>
                    <div class="alert alert-success" role="alert" data-ng-if="addSuccessMsgVisible">
                        <strong>The Project was added!</strong>
                    </div>
                    <div class="alert alert-danger" id="alert-danger" role="alert" data-ng-if="promoteErrorMsgVisible">
                        <strong>Error promote Member!</strong>
                    </div>
                    <div class="alert alert-success" role="alert" data-ng-if="promoteSuccessMsgVisible">
                        <strong>The Member was promote!</strong>
                    </div>  
                    <div class="alert alert-danger" id="alert-danger" role="alert" data-ng-if="removeErrorMsgVisible">
                        <strong>Error deleting Member!</strong>
                    </div>
                    <div class="alert alert-success" role="alert" data-ng-if="removeSuccessMsgVisible">
                        <strong>The Member was deleted!</strong>
                    </div>    
                    <div class="alert alert-danger" id="alert-danger" role="alert" data-ng-if="getErrorMsgVisible">
                        <strong>Error Get Members!</strong>
                    </div>
                    <div class="alert alert-success" role="alert" data-ng-if="getSuccessMsgVisible">
                        <strong>The members was obtained!</strong>
                    </div>    
                    <div class="alert alert-danger" id="alert-danger" role="alert" data-ng-if="downgradeErrorMsgVisible">
                        <strong>Error downgrader Member!</strong>
                    </div>
                    <div class="alert alert-success" role="alert" data-ng-if="downgradeSuccessMsgVisible">
                        <strong>The Member was downgrade!</strong>
                    </div>    
                </div>
            </div>
        </div>

    </div>
    
    <!--Modal Add member-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form class="form-adder" role="form" data-toggle="validator" id="1181323992">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel">Add member</h4>  
                    </div>
                    <div class="modal-body">
                            <div class="form-group">
                                 <label for="inputEmail" class="control-label" >Email:</label>
                                <input type="email" id="inputEmail" ng-model="adderEmail" class="form-control" id="recipient-name"  placeholder="Email@" autofocus="" required>
                            </div>
                    </div>
                    <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">X</button>
                            <button type="submit" class="btn btn-primary" ng-click="add_member_to_projects(project.project_name,adderEmail)" data-dismiss="modal">Send invite</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--Modal delete member-->
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form class="form-signin" role="form" id="1181323992">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel2">Delete Member</h4>  
                    </div>
                    <div class="modal-body">
                        <h3> You sure you want to delete member?</h3>
                        <br>
                        <input type="text" id="inputEmailUser" class="form-control" ng-model="listEmail.project_email" ng-readonly="listEmail.project_email">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" ng-click="remove_member_from_project(project.project_name,listEmail.project_email)" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

     <!--Modal Upgrade member-->
    <div class="modal fade" id="modalUpgrade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form class="form-signin" role="form" id="1181323992">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel4" ng-if="updateMember.owner == 0" >Promote owner</h4> 
                        <h4 class="modal-title" id="exampleModalLabel4" ng-if="updateMember.owner == 1" >Downgrader owner</h4> 
                    </div>
                    <div class="modal-body">
                        <h3 ng-if="updateMember.owner == 0"> You sure you promote owner?</h3>
                        <h3 ng-if="updateMember.owner == 1"> You sure you downgrader owner?</h3>
                        <br>
                        <input type="text" id="inputEmailUser" class="form-control" ng-model="updateMember.email" ng-readonly="updateMember.email">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" ng-click="promote_owner(project.project_name,updateMember.email)" data-dismiss="modal"ng-if="updateMember.owner == 0">Ok</button>
                        <button type="button" class="btn btn-primary" ng-click="ownerMemberDowngrader(project.project_name,updateMember.email)" data-dismiss="modal" ng-if="updateMember.owner == 1">Ok</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</article>    
<div ng-include="'partials/footer.html'"></div>
