<div ng-controller="SearchCtrl">
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li><a href='#/home' data-toggle="tab">Home</a></li>
        <li><a href='#/projects' data-toggle="tab">Projects</a></li>
        <form method="get" action="#/search">    
            <div >
                <div class="col-lg-3 col-lg-offset-4">
                    <div class="input-group">
                    <input type="text" ng-model="searchs" class="form-control" placeholder="Search: User or WorkItem" ></input>
                        <span class="input-group-btn">
                                <button class="btn btn-default" type="submit" ng-click="globalOtherUserSearch()">
                                  <i class="fa fa-search"></i>
                                </button>
                        </span>
                    </div>
                </div><!-- /input-group -->
            </div>
      </form>
      </ul>

      <div class="tab-content">
        <div id="home" class="tab-pane active">
        </div>
        <div id="project" class="tab-pane">
        </div>
      </div><!-- /.tab-content -->  
    </div><!-- /.tabbable -->
</div>
