<div ng-include="'partials/header.html'"></div>
<div ng-include="'partials/pestanas.html'"></div> 
<article ng-init="init()">      
    <!-- Create Project Button -->
   <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-11">
                <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#myModal1">Create Project</button>                    
            </div>          
        </div>
   </div>
   <div>     
        <div class="container">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <h2>Projects - {{usuario.name}} {{usuario.surname}}</h2>
              </div>
            </div>

            <div class="row">
              <div class="col-md-10 col-md-offset-1" style="width:1000px; height:300px; overflow-y:scroll;">
                <table class="table-project">
                  <tr>
                    <th width="300">Project</th>
                    <th width="100">Points</th>
                  </tr>
                  <tr ng-repeat="project in projects" >
                    <td>{{project.project_name}}</td>
                    <td>{{project.points}}</td>
                    <td width="100"><button type="button" class="btn btn-default" aria-label="Left Align" type="submit" ng-click="goToIterations(project.project_name)">
                            <i class="fa fa-tasks"></i>
                        </button>
                    </td>      
                    <td width="100"><button type="button" class="btn btn-default" aria-label="Left Align" ng-click="goToMembers(project.project_name)">
                            <i class="fa fa-users"></i>
                        </button>
                    </td> 
                    <td width="100">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal2" ng-click="setRename(project.project_name)">
                            <i class="fa fa-edit"></i>
                        </button>                                          
                    </td>
                    <td>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal3" ng-click="setDelete(project.project_name)">
                            <i class="fa fa-times"></i>                           
                        </button>                         
                    </td>
                  </tr>
                </table>
              </div>
              </div>
        </div> <!-- end of container --> 
    </div>
    
    <!-- Modal Create Project -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="myModalLabel">New Project</h3>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                                <form class="form-signin" role="form" id="addProject">
                                    <h5> Title </h5>
                                        <input type="nameProject" id="inputNameProject" class="form-control" ng-model="newProject.new_project_name" placeholder="Name" required="" autofocus="">
                                    <br>
                                    <br>
                                        <div class="col-lg-6">
                                            <button class="btn btn-lg btn-primary btn-block" type="submit" data-dismiss="modal" ng-click="addProject(newProject.new_project_name)">Done</button>
                                        </div>
                                        <div class="col-lg-6">
                                            <button class="btn btn-lg btn-danger btn-block" type="button" data-dismiss="modal">Cancel</button>
                                        </div>
                                </form>                                 
                            </div>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Rename Project -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="myModalLabel">Rename Project</h3>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                                <form class="form-signin" role="form" id="renameProject">
                                    <h5> Old Name </h5>
                                        <input type="oldnameProject" id="oldNameProject" class="form-control" ng-model="newNameProject.old_project_name" ng-readonly="newNameProject.old_project_name"
                                        ></input>
                                    <h5> New Name </h5>
                                        <input type="newnameProject" id="newNameProject" class="form-control" ng-model="newNameProject.new_new_project_name" placeholder="New Name" required="" autofocus=""></input>                                        
                                    <br>
                                    <br>
                                        <div class="col-lg-6">
                                            <button class="btn btn-lg btn-primary btn-block" type="submit" data-dismiss="modal" ng-click="renameProject(newNameProject.old_project_name,newNameProject.new_new_project_name)">Done</button>
                                        </div>
                                        <div class="col-lg-6">
                                            <button class="btn btn-lg btn-danger btn-block" type="button" data-dismiss="modal">Cancel</button>
                                        </div>
                                </form>                                 
                            </div>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Delete Project -->
    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="myModalLabel">Delete Project</h3>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                                <form class="form-signin" role="form" id="1181323998">
                                    <h5> Name Project </h5>
                                        <input type="nameProject" id="inputNameProject" class="form-control" ng-model="delProject.project_name" ng-readonly="delProject.project_name">
                                    <br>
                                    <br>
                                        <div class="col-lg-6">
                                            <button class="btn btn-lg btn-primary btn-block" type="submit" data-dismiss="modal" ng-click="removeProject(delProject.project_name)">Done</button>
                                        </div>
                                        <div class="col-lg-6">
                                            <button class="btn btn-lg btn-danger btn-block" type="button" data-dismiss="modal">Cancel</button>
                                        </div>
                                </form>                                 
                            </div>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>        
</article>
<div ng-include="'partials/footer.html'"></div>