<div ng-include="'partials/header.html'"></div>
<!--<div ng-include="'partials/pestanas.html'"></div>-->
<div class="col-lg-4 col-lg-offset-10">
    <a href='#/projects' data-toggle="tab"><button type="submit">Back projects</button></a>
</div>

<div ng-init="init()">
    <!--list to members o workItems search-->
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <table class="table">
                          <tr>
                            <th>Users</th>
                          </tr>
                          <tr ng-repeat="search in globalSearchUser" >
                            <td >{{search.email}}</td> <!--//cuando haga un click te debe llevar a home -->
                              <td width="100"><button type="button" class="btn btn-default" aria-label="Left Align" type="submit" ng-click="goToMembers()"><i class="fa fa-tasks"></i>
                            </button>
                        </td>  
                          </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--list to workItem search-->
    <div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <table class="table">
                      <tr>
                        <th>Work Item</th>
                      </tr>
                      <tr ng-repeat="search in globalSearchWorkItem" >
                        <td>{{search.idW}}</td>
                        <td width="100"><button type="button" class="btn btn-default" aria-label="Left Align" type="submit" ng-click="goToWorkItems()"><i class="fa fa-tasks"></i>
                            </button>
                        </td>  
                      </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div ng-include="'partials/footer.html'"></div>
