<div ng-include="'partials/header.html'"></div>
<!--<div ng-include="'partials/pestanas.html'"></div>-->
<div class="col-lg-4 col-lg-offset-10">
    <a href='#/projects' data-toggle="tab"><button type="submit">Back projects</button></a>
</div>

<!--list to members o workItems search-->
<div ng-init="init()">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <table class="table">
                      <tr>
                        <th>Users</th>
                      </tr>
                      <tr ng-repeat="search in globalSearchUser" >
                        <td >{{search.idU}}</td> <!--//cuando haga un click te debe llevar a home -->
                      </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<!--list to workItem search-->
<div ng-init="init()">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <table class="table">
                  <tr>
                    <th>Id Work Item</th>
                  </tr>
                  <tr ng-repeat="search in globalWorkItemSearch" >
                    <td>{{search.idW}}</td>
                  </tr>
            </table>
        </div>
    </div>
</div>
<div ng-include="'partials/footer.html'"></div>
