<nav class="header navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">DOSE Mgmt</a>
    </div>
    <div ng-if="isAuthenticated()" class="navbar-header navbar-right table-row">
        <div>
          <img src="img/avatar.png" width="40" height="40" style="border-radius: 3px; margin-right: 20px;" title="username" alt="username" />
        </div>
        <div>
          Hello, Allan!<br />
          <span>Last login: December, 10 2014 00:35</span>
        </div>
    </div>
  </div>
</nav>