<nav class="header navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a ng-if="isAuthenticated()" class="navbar-brand" href="/">DOSE Mgmt</a>
      <a ng-if="!isAuthenticated()" class="navbar-brand" href="/#/login">DOSE Mgmt</a>
    </div>
    <div ng-if="isAuthenticated()" class="navbar-header navbar-right table-row">
        <div>
          <img class="avatar small"> </img>
        </div>
        <div>
          Hello, {{ currentUser.name }}!<br />
          <span>Last login: {{ currentUser.lastLogin }}</span>
        </div>
    </div>
  </div>
</nav>