<nav class="navbar navbar-default">
  <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li ng-class="{active: isActive('/user/*/dashboard') || isActive('/')}"><a href="/#/user/{{ currentUser.id }}/dashboard">My dashboard</a></li>
        <li ng-class="{active:isActive('/projects')}"><a href="/#/projects">Projects</a></li>
        <li ng-show="isAdmin()" ng-class="{active:isActive('/users')}"><a href="/#/users">Users management</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/#/users/{{ currentUser.id }}" class="navbar-link">Edit profile</a></li>
        <li><a href="/#/logout" class="navbar-link" ng-click="$event.preventDefault(); logout();">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
