<!-- /modal-header -->
<div class="modal-header">
  <span class="modal-title h4">New project</span><span class="pull-right">
    <span class="glyphicon glyphicon-plus">
</div>	

    
<!-- /modal-body -->
<div class="modal-body row">
  <form nonvalidate class="simple-form">
    <div class="col-md-6">
      <fieldset>

        <br>

        <!-- Project name -->
        <div class="control-group">
          <label class="control-label" for="projectName">Project name</label>
          <div class="controls">
            <input type="text" id="projectName" name="projectName"
            placeholder="" class="input-xlarge" autocorrect="off" spellcheck="false"
            autocapitalize="off" tabindex="1" ng-model="project.name">
          </div>
        </div>

        <!-- Client name -->
        <div class="control-group">
          <label class="control-label" for="client">Client</label>
          <div class="controls">
            <input type="text" id="client" name="client"
            placeholder="" class="input-xlarge" autocorrect="off" spellcheck="false"
            autocapitalize="off" tabindex="2" ng-model="project.client_name">
          </div>
        </div>

        <!-- Deadline -->
        <!-- <div class="control-group"> -->
        <!--   <label class="control-label" for="dueDate"> -->
        <!--     <span class="glyphicon glyphicon-calendar"></span>   Deadline</label> -->
        <!--   <div class="controls"> -->
        <!--     <input type="text" id="deadline" name="deadline" -->
        <!--     placeholder="" class="input-xlarge" autocorrect="off" spellcheck="false" -->
        <!--     autocapitalize="off" tabindex="3" ng-model="project.deadline"> -->
        <!--   </div> -->
        <!-- </div>  -->
        <div class="control-group">
          <label class="control-label" for="deadline">Deadline</label>
          <div class="row">
            <div class="col-md-12">
              <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}"
              is-open="opened" min-date="dt" datepicker-options="dateOptions"
              date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"
              tabindex="3" ng-model="project.deadline"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)">
                  <i class="glyphicon glyphicon-calendar"></i></button>
              </span>
              </p>
            </div>
          </div>
        </div>

      </fieldset>
    </div>
  </form>
</div>

<!-- /modal-footer -->
<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()">Close</button>
  <button class="btn btn-primary" ng-click="createProject(project)">Create project</button>
</div>	

