<div data-ng-controller="TaskController"><!-- injecting task controller -->

  <div ng-include src="'partials/task.html'"></div> <!-- injecting task modal html in page -->

  <div id="legend">
    <legend>{{project.name}}</legend>
  </div>

  <h4>{{project.client_name}}</h4>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-link col-md-2"
        ng-click="openModal('edit')">Edit project info</button>
      <span class="col-md-8"></span>
      <a href="" class="col-md-2" ng-click = "createTask('1')" data-toggle="modal"
        data-target="#taskModal">New task   <span class="glyphicon glyphicon-plus"></a>
    </div>
  </div>

  <br>

  <div class="contentWrapper ng-cloak">
    <div class="content">
      <div class="row-fluid">
        <div class="col-md-12">

          <!-- Backlone swimlane -->
          <div class="col-md-3">
            <div class="panel panel-danger">

              <div class="panel-heading"><h4>Backlog</h4></div>

              <div class="panel-body" ng-model="backlogTasks" data-drop="true"
                jqyoui-droppable="{multiple:false, onDrop: 'dropCallback(draggedTask, \'stopped\')'}"
                data-jqyoui-options="{accept:'.task-draggable:not([ng-model=backlogTasks])'}">

                <div class="btn btn-default btn-block task-draggable" ng-model="backlogTasks"
                  ng-repeat="task in backlogTasks" data-drag="true"
                  data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{index: {{$index}},
                  animate:false, onDrag: 'dragCallback(task)'}">
                  {{task.title}}
                </div>
              </div>
            </div>
          </div>

          <!-- To do swimlane -->
          <div class="col-md-3">
            <div class="panel panel-warning">

              <div class="panel-heading"><h4>To do</h4></div>

              <div class="panel-body" ng-model="todoTasks" data-drop="true"
                jqyoui-droppable="{multiple:false, onDrop: 'dropCallback(draggedTask, \'created\')'}"
                data-jqyoui-options="{accept:'.task-draggable:not([ng-model=todoTasks])'}">

                <div class="btn btn-default btn-block task-draggable" ng-model="todoTasks"
                  ng-repeat="task in todoTasks" data-drag="true"
                  data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{index: {{$index}},
                  animate:false, onDrag: 'dragCallback(task)'}">
                  {{task.title}}
                </div>
              </div>
            </div>
          </div>

          <!-- Doing swimlane -->
          <div class="col-md-3">
            <div class="panel panel-info">

              <div class="panel-heading"><h4>Doing</h4></div>

              <div class="panel-body" ng-model="doingTasks" data-drop="true"
                jqyoui-droppable="{multiple:false, onDrop: 'dropCallback(draggedTask, \'in_progress\')'}"
                data-jqyoui-options="{accept:'.task-draggable:not([ng-model=doingTasks])'}">

                <div class="btn btn-default btn-block task-draggable" ng-model="doingTasks"
                  ng-repeat="task in doingTasks" data-drag="true"
                  data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{index: {{$index}},
                  animate:false, onDrag: 'dragCallback(task)'}">
                  {{task.title}}
                </div>
              </div>
            </div>
          </div>

          <!-- Done swimlane -->
          <div class="col-md-3">
            <div class="panel panel-info">

              <div class="panel-heading"><h4>Done</h4></div>

              <div class="panel-body" ng-model="doneTasks" data-drop="true"
                jqyoui-droppable="{multiple:false, onDrop: 'dropCallback(draggedTask, \'finished\')'}"
                data-jqyoui-options="{accept:'.task-draggable:not([ng-model=doneTasks])'}">

                <div class="btn btn-default btn-block task-draggable" ng-model="doneTasks"
                  ng-repeat="task in doneTasks" data-drag="true"
                  data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{index: {{$index}},
                  animate:false, onDrag: 'dragCallback(task)'}">
                  {{task.title}}
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>  
