<div id="legend">
  <legend>All projects</legend>
  {{projects}}
</div>

<br>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th class="col-md-4">Projects in progress</th>
          <th class="col-md-3"></th>
          <th class="col-md-3"></th>
          <th class="col-md-3"><a href="#/projects/new"> New project   
                                  <span class="glyphicon glyphicon-plus"></a></th>
        </tr>
      </thead>
      <tbody>
        <tr class="row-link" ng-repeat="project in inProgess"
          ng-click="openProject(project)">
        <!-- <tr class="row-link" ng-repeat="project in projects.p" ng-click="openProject()"> -->
          <td>{{project.name}}</td>
          <td>Client: {{project.client}}</td>
          <td>Created by: {{project.author}}</td>
          <td><span class="glyphicon glyphicon-calendar"></span>  {{project.date}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th class="col-md-4">Projects finished</th>
          <th class="col-md-3"></th>
          <th class="col-md-3"></th>
          <th class="col-md-3"></th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr class="row-link" ng-repeat="project in projects2" -->
        <tr class="row-link" ng-repeat="project in finished"
          ng-click="openProject(project)">
        <!-- <tr class="row-link" ng-repeat="project in projects.p" ng-click="openProject()"> -->
          <td>{{project.name}}</td>
          <td>{{project.client}}</td>
          <td>Created by: {{project.author}}</td>
          <td><span class="glyphicon glyphicon-calendar"></span>  {{project.date}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
