<div class="modal fade" id="editProjectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <!-- /modal-header -->
      <div class="modal-header">
        <span class="modal-title h4">Edit project</span><span class="pull-right">
          <span class="glyphicon glyphicon-pencil">
      </div>	


      <!-- /modal-body -->
      <div class="modal-body row">
        <form name="form" class="simple-form" novalidate>
          <div class="col-md-6">
            <fieldset>

              <br>

              <!-- Project name -->
              <div class="control-group">
                <label class="control-label" for="projectName">Project name</label>
                <div class="controls">
                  <input type="text" id="projectName" name="projectName"
                  class="input-xlarge" autocorrect="off" spellcheck="false"
                  autocapitalize="off" tabindex="1" ng-model="projectToEdit.name"
                  ng-required="true">
                </div>
              </div>

              <!-- Client name -->
              <div class="control-group">
                <label class="control-label" for="client">Client</label>
                <div class="controls">
                  <input type="text" id="client" name="client"
                  placeholder="" class="input-xlarge" autocorrect="off"
                  spellcheck="false" autocapitalize="off" tabindex="2"
                  ng-model="projectToEdit.client_name" ng-required="true">
                </div>
              </div>

              <!-- Deadline -->
              <div class="control-group">
                <label class="control-label" for="deadline">Deadline</label>
                <div class="row">
                  <div class="col-md-12">
                    <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup="{{editDatepicker.format}}"
                    is-open="$parent.editDatepicker.opened" min-date="editDatepicker.dt"
                    datepicker-options="editDatepicker.dateOptions"
                    date-disabled="editDatepicker.disabled(date, mode)" close-text="Close"
                    tabindex="3" ng-model="projectToEdit.deadline" ng-required="true"/>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="editDatepicker.open($event)">
                        <i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </p>
                  </div>
                </div>
              </div>

              <!-- Delete -->
              <div class="control-group">
                <label class="control-label" for="deleteProject"></label>
                <div class="controls">
                  <button class="btn btn-danger"
                    ng-click="deleteProject(project)">Delete project</button>
                </div>
              </div>

            </fieldset>
          </div>
        </form>
      </div>

      <!-- /modal-footer -->
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        <button class="btn btn-default" data-dismiss="modal">Close</button>
        <button ng-click="updateProject(projectToEdit)" ng-disabled="form.$invalid"
          type="button" class="btn btn-primary">Save changes</button>
      </div>	

    </div>
  </div>
</div>
