<div ng-include src="'partials/task.html'"></div> <!-- task modal -->

<div class="row">
	<h1 class="title col-md-10">My dashboard</h1>
	<div class="col-md-2">
		<a href="" ng-click = "createTask('1')" data-toggle="modal" data-target="#taskModal">New task   <span class="glyphicon glyphicon-plus"></a>
	</div>
</div>


<div class="row" ng-show = "!tasksInProgress.length">
	<h3 class="col-md-12">It seems like you have no tasks in progress..</h3>
</div>

<div class="row" ng-show = "tasksInProgress.length">
	<h3 class="col-md-12">Tasks in progress</h3>
</div>

<div class="row" ng-show = "tasksInProgress.length">
	<div class="col-md-12">
		<table class="table">
			<tr ng-repeat="task in tasksInProgress" ng-click="openTask(task)" ng-class="setPriorityClass(task)" class="row-link" data-toggle="modal" data-target="#taskModal">
				<td class="col-md-6">{{task.id_project}} {{task.title}}</td>
				<td class="col-md-2"><span class="badge">10</span> comments</td>
				<td class="col-md-2"><span class="glyphicon glyphicon-time"></span> {{task.deadline}}</td>
				<td class="col-md-2"><button type="button" class="btn btn-info btn-sm btn-block" ng-click="openProjectDash($event, task.id_project)">view project</button></td>
			</tr>
		</table>
	</div>
</div>

<div class="row" ng-show = "!tasksFinished.length">
	<h3 class="col-md-12">It seems like you have no finished tasks..</h3>
</div>

<div class="row" ng-show = "tasksFinished.length">
	<h3 class="col-md-12">Tasks finished</h3>
</div>

<div class="row" ng-show = "tasksFinished.length">
	<div class="col-md-12">
		<table class="table">
			<tr ng-repeat="task in tasksFinished" ng-click="openTask(task)" ng-class="setPriorityClass(task)" class="row-link" data-toggle="modal" data-target="#taskModal">
				<td class="col-md-6">{{task.id_project}} {{task.title}}</td>
				<td class="col-md-2"><span class="badge">10</span> comments</td>
				<td class="col-md-2"><span class="glyphicon glyphicon-time"></span> {{task.deadline}}</td>
				<td class="col-md-2"><button type="button" class="btn btn-info btn-sm btn-block" ng-click="openProjectDash($event, task.id_project)">view project</button></td>
			</tr>
		</table>
	</div>
</div>

<!-- stats -->
<div class="row">
	<h3 class="col-md-12">Statistics</h3>
</div>

<div class="row">
	<p class="col-md-2 text-right big">Finished tasks on total: </p>
	<div class="col-md-8">
		<div class="progress">
	  		<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" ng-attr-style="width: {{finTasksOnTot}}%">
	    		{{finTasksOnTot}}%
			</div>
		</div>
	</div>
	<p class="col-md-2 big" ng-hide="finTasksOnTot != 100.00">
		<span class="label label-success">You completed all your tasks!</span>
	</p>
</div>

<div class="row">
	<p class="col-md-2 text-right big">Stopped tasks on total: </p>
	<div class="col-md-8">
		<div class="progress">
	  		<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" ng-attr-style="width: {{stopTasksOnTot}}%">
	    		{{stopTasksOnTot}}%
			</div>
		</div>
	</div>
	<p class="col-md-2" ng-hide="stopTasksOnTot != 100.00">
		<span class="label label-danger">All your tasks are stopped!</span>
	</p>
</div>