<div ng-include="'partials/navbar.html'"></div>

<div>
  <div class="container">
   <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>All users</h1>
        <div class="input-group search">
          <input type="text" class="form-control" placeholder="Search by name, surname and email">
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <table class="table">
          <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th> </ht>
          </tr>
          <tr class="row-link">
            <td>Dmitrii</td>
            <td>Stebliuk</td>
            <td>dsteblyuk@gmail.com</td>
            <td>
              <span class="glyphicon glyphicon-remove"></span>
            </td>
          </tr>
          <tr class="row-link">
            <td>Miguel</td>
            <td>Palacio</td>
            <td>palaciodelgado@gmail.com</td>
            <td>
              <span class="glyphicon glyphicon-remove"></span>
            </td>
          </tr>
          <tr class="row-link">
            <td>Gabriele</td>
            <td>Maddalena</td>
            <td>gabriele.madd@gmail.com</td>
            <td>
              <span class="glyphicon glyphicon-remove"></span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div> 
</div>
