<div class="p-projects container">
    <button type="button" class="btn btn-default" ng-click="createProject()">Create project</button>
    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th></th>
                <th class="clickable text-center">Project name</th>
                <th class="clickable text-center">Description</th>
                <th class="clickable text-center">Status</th>
                <th class="clickable text-center">Max points/per sprints</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="project in projects"
                ng-click="go(project)"
                ng-class="{ 'warning': project.status == 'Active', 'success': project.status == 'Complete', 'info': project.status == 'Canceled' }">
                <td><img ng-click="edit(project)" src="/pages/images/edit.png" style="width: 20px; height: 20px"/></td>
                <td>{{project.name}}</td>
                <td>{{project.description}}</td>
                <td>{{project.status}}</td>
                <td>{{project.max_points_per_sprint}}</td>
            </tr>
        </tbody>
    </table>
</div>
