<div class="b-tasks container">
    <div ng-repeat="project in projects">
        <h2 class="text-left clickable" ng-click = "state.go('project.tasks', {id:project.id});">Project: {{project.name}}</h2>
        <table ng-if="tasks.length > 1" class="table ui-table-hover text-center">
            <thead>
            <tr>
                <th class="clickable text-center" ng-click="orderType='id'; order=!order">#id</th>
                <th class="clickable text-center" ng-click="orderType='title'; order=!order">Title</th>
                <th class="clickable text-center" ng-click="orderType='points'; order=!order">Points</th>
                <th class="clickable text-center" ng-click="orderType='type'; order=!order">Type</th>
                <th class="clickable text-center" ng-click="orderType='position'; order=!order">Position</th>
                <th class="clickable text-center" ng-click="orderType='priority'; order=!order">Priority</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="task in tasks | orderBy: orderType | reverse: order" ng-if="task.project_id == project.id" ng-style="get_task_style(task)">
                <td>{{task.id}}</td>
                <td>{{task.title}}</td>
                <td>{{task.points}}</td>
                <td>{{task.type}}</td>
                <td>{{task.position}}</td>
                <td>{{task.priority}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
