<!DOCTYPE html>
<html data-ng-app="demo">
<head>
<meta charset="UTF-8">
<title>Demo tasks!</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/dashboard.css" rel="stylesheet">

</head>
<body data-ng-controller="myDemo">
	Number of tasks: <input type="text" data-ng-model="numberTasks"/> 
	<div data-ng-repeat="i in range()">
		Task {{$index+1}}: <input type=text/>
	</div>

<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<script src="includes/graph/jquery.canvasjs.min.js"></script>	
	
	<script src="includes/bootstrap.min.js"></script>

	<script src="includes/angular.min.js"></script>

	<script src="includes/demo.js"></script>

</body>
</html>