body{
  padding-top: 55px;
  padding-bottom: 75px;
}

/* for styling correctly ui.bootstrap dropdown */
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.vertical-offset-100 {
  margin-top: 100px;
}


form.equal-margins {
  margin: 0.3em;
}
