<!DOCTYPE html>
<html data-ng-app="login">

<head>
<title>Login</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet">

<link href="css/jquery-ui.min.css" rel="stylesheet">
<link href="css/login.css" rel="stylesheet">
</head>

  <body>
  <div class="container">
  	<div class="col-xs-offset-2 col-xs-8">
	<div class="alert alert-info text-center">
		<div class='row'>
			<div class='col-xs-4'>
				<img src='http://www2.caminos.upm.es/Departamentos/matematicas/WEBGIE/images/escupm.gif' height='100'/>
			</div>
			<div class='col-xs-4'>
				<img src='http://maicp2014.deib.polimi.it/logo_poli.jpg' height='100'/>
			</div>
			<div class='col-xs-4'>
				<img src='https://media.licdn.com/media/p/6/005/066/30f/247b955.png' height='100'/>
			</div>
		</div>
		DOSE<br/>
		Group 8 SCRUM Management Tool
	</div>
	<form name="form" data-ng-controller="loginController" role="form">
		<div class="form-group">
			<label for="username">Email</label>  
			<input type="text" name="username" id="username" class="form-control" data-ng-model="username" required /> 
			<span data-ng-show="usernameRequired">{{usernameRequired}}</span>
		</div>
		<div class="form-group">
			<label for="password">Password</label>  
			<input type="password" name="password" id="password" class="form-control" data-ng-model="password" required /> 
			<span data-ng-show="passwordRequired">{{passwordRequired}}</span>
		</div>
		<div class="form-actions">
			<button type="submit" data-ng-click="login()" data-ng-disabled="form.$invalid || dataLoading" class="btn btn-danger">Login</button>
			<img data-ng-if="dataLoading" src="img/loading.gif" /> 
		</div>
		<p>
			<a href="registration.html">Create new account</a>
		</p>
		<p>
			<button type="button" class="btn btn-link" data-toggle="modal" data-target="#modal_pwdRecovery">Forgot my password</button>
		</p>
	</form>
</div></div>
    <div class="credits text-center">
      <p>
        <a href="https://code.google.com/p/dose2014/source/browse/#svn%2Ftrunk%2Fimplementations%2Fgroup8">DOSE 2014 - Group 8</a>
      </p>
    </div>
    
    <div class="modal fade" id="modal_pwdRecovery" tabindex="-1" role="dialog"
		aria-labelledby="Recover password" aria-hidden="true" data-ng-controller="loginController">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Password recovery</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class='col-xs-11'>
							To recover your password please provide us with your email and birthdate. 
							We will send an email to reset the password to the address stored in your user profile.<br/><br/><br/>
						</div>
					</div>
					<div class="row">
						<div class='col-xs-6'>
							<div class="form-group">
								<label for="email">Email</label> 
								<input type="text"
									name="email" id="email" class="form-control"
									data-ng-model="email" required /> <span
									data-ng-show="emailRequired">{{emailRequired}}</span>
							</div>
		
							<div class="form-group">
								<label for="birth">Date of birth</label> 
								<input type="text"
									name="birth" id="birth" class="form-control"
									data-ng-model="birth" required /> <span
									data-ng-show="birthRequired">{{birthRequired}}</span>
							</div>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" data-ng-click="recoverPassword()">Request recovery</button>
				</div>
			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	
	<script src="includes/jquery-ui.min.js"></script>

	<script src="includes/bootstrap.min.js"></script>

	<script src="includes/angular.min.js"></script>

	<script src="includes/login.js"></script>
  </body>

</html>