<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-nav">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Lets GO!</a>
    </div>

    <div class="collapse navbar-collapse">
      <div ng-show="!authService.isLoggedIn()" >
        <div class="nav navbar-form pull-right">
          <a href="#/signup" role="button" class="btn btn-primary" data-toggle="modal">Sign Up</a>
          <a href="#/login" role="button" class="btn btn-primary">Log in</a>
        </div>
      </div>

      <div ng-show="authService.isLoggedIn()">
        <ul class="nav navbar-nav">
          <li><a href="#/projects">Projects</a></li>
        </ul>

        <div class="nav navbar-form pull-right">
          <div class="btn-group " dropdown is-open="status.isopen">
            <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
               User <span class="fa fa-cog"></span>
            </button>
            <ul class="dropdown-menu menu-dropdown-forceleft" role="menu">
              <li class="pull-right"><a href="#/profile">Edit Profile <span class="glyphicon glyphicon-pencil"></span></a></li>
              <div class="clearfix"></div>
              <li class="pull-right"><a href="#/password">Change Password <span class="fa fa-key"></span></a></li>
              <div class="clearfix"></div>
              <li class="divider"></li>
              <div class="clearfix"></div>
              <li class="pull-right"><a href="#/" ng-click="authService.logout()">Log Out <span class="glyphicon glyphicon-log-out"></span></a></li>
              <div class="clearfix"></div>
            </ul>
          </div>
        </div>
      </div>

    </div> <!-- collapsable  -->
  </div> <!-- end container-fluid -->
</nav>
