<div ng-include="'partials/navbar.html'"></div>

<div ng-controller="ProjectsCtrl">
  <div class="container">
    <div class="row vertical-offset-100">
      <div class="col-md-4 col-md-offset-4">

        <h3>Share Project {{project.name}}</h3>
        <div class="panel panel-primary">
          <div class="panel-body">
            <form accept-charset="UTF-8" class="equal-margins" role="form">
              <fieldset>
                <div class="form-group">
                  <div class ="row">
                    <div class="col-md-6">
                      <div ng-repeat = "available in availables">
                        <!-- <a ng-click="assignDevelopersToTask(available.id)"><span class="glyphicon glyphicon-plus-sign"</span></a> {{available.name}}-->
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div ng-repeat = "assigned_dev in assigned_devs">
                        <!-- <a ng-click="unassignDevelopersToTask(assigned_dev.id)"><span class="glyphicon glyphicon-minus-sign"></span></a> {{assigned_dev.name}}-->
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <button ng-click="projectShare()" class="btn btn-primary">Share</button>
                <a ng-click="cancelProjectShare()" class="btn btn-default">Cancel</a> -->
              </fieldset>
            </form>
          </div>
        </div> <!-- end panel -->

      </div> <!-- end column -->
    </div> <!-- end row -->

  </div> <!-- end container -->
</div> <!-- end ProjectsCtrl -->
