<div ng-include="'partials/navbar.html'"></div>

<div ng-controller="TasksCtrl">
  <div class="container">

    <div class="row">
      <span class="dropdown" dropdown on-toggle="toggled(open)">
        <a href class="dropdown-toggle" dropdown-toggle>
          <h3>Tasks <span class="caret"></span></h3>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="#/task/create"><i class="fa fa-plus"></i> Create Task</a>
          </li>
        </ul>
      </span>
    </div>

    <!-- Tasks -->
    <div class="col-md-6">
      <div ng-repeat="task in tasks">

      <div id="stream">
        <!-- stream item -->
        <div class="stream-item">
          <div class="row">
            <div class="stream-panel credits">
              <ul class="stream-panel-ul">
                <li><span class="item-title">task id: {{ task.id }}</span></li>
                <li><span class="item-content">Owner: {{ task.owner }} </span></li>
                <li><span class="item-content">Task Description: {{ task.description }}</span></li>
                <li>
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Created: </p> </li>
                    <li>
                      <div class="btn-group pull-right">
                        <a  class="btn btn-default btn-xs"><span class="glyphicon glyphicon-cog"></span> Properties</a>
                        <a  class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                      </div>
                      <div class="clearfix"></div>
                    </li>
                  </ul>
                </div>
              </div>
            </div> <!-- end stream-item -->
          </div> <!-- end stream -->
          </div>

        </div> <!-- end Tasks -->


      </div> <!-- end of container -->
    </div>
