<div ng-include="'partials/navbar.html'"></div>

<div ng-controller="UserCtrl">
  <div class="container">
    <div class="row vertical-offset-100">
      <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-primary">

          <div class="panel-heading">
            <h3 class="panel-title">{{ userInfo.email }}'s Profile</h3>
          </div>

          <div class="panel-body">
            <div class="form-group">
              <label>Email:</label>
              <p>{{ userInfo.email }}</p>
            </div>

            <div class="form-group">
              <label>Firstname:</label>
              <p>{{ userInfo.firstname }}</p>
            </div>

            <div class="form-group">
              <label>Lastname:</label>
              <p>{{ userInfo.lastname }}</p>
            </div>

            <div class="form-group">
              <label>Projects that participate:</label>
              <p>
                <ul>
                  <div ng-repeat='project in userInfo.projects track by $index'>
                    <li >{{ project }}</li>
                  </div>
                </ul>
              </p>
            </div>

            <div class="form-group">
              <label>Assigned Tasks:</label>
              <p>
                <ul>
                  <div ng-repeat='task in userInfo.assigned_tasks'>
                    <li>{{ task }}</li>
                  </div>
                </ul>
              </p>
            </div>
          </div>

          <div class="panel-footer">
            <a ng-href="#/user/edit/{{ userInfo.id }}" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
            <a ng-click="deleteUser()" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</a>
          </div>

        </div>
      </div>
    </div>
  </div> <!-- end container -->
</div>
