<div class="modal-header">
    <h3 class="modal-title">Log hours</h3>
</div>
<div class="modal-body" data-ng-init="init()">
    <form class="form-horizontal">
        <fieldset>
            <!-- Form Name -->
            <legend>Log</legend>
            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="textinput">Hours:</label>
                <div class="controls">
                    <input id="textinput" name="textinput" type="number" data-ng-model="task.hours_spent" placeholder="placeholder" class="input-xlarge">
                    <p class="help-block">total hours spends for the task</p>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>