body{
  padding-top: 55px;
  padding-bottom: 75px;
}

/* for styling correctly ui.bootstrap dropdown */
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.menu-dropdown-forceleft {
  left: -87%;
}

.vertical-offset-100 {
  margin-top: 100px;
}

.vertical-offset-150 {
  margin-top: 150px;
}

.vertical-offset-200 {
  margin-top: 200px;
}
