<div ng-include="'partials/navbar.html'"></div>


<div ng-controller="ProjectsCtrl">
  <div class="container">
    <div class="container">
      <div class="row vertical-offset-100">
        <div class="col-md-4 col-md-offset-4">

          <h3>Create Project</h3>
          <div class="panel panel-default">
            <div class="panel-body">
              <form name="createProjectForm" ng-submit="createProject(createFormData.project_name, createFormData.project_description, createFormData.project_start_date, createFormData.project_end_date)" accept-charset="UTF-8" class="equal-margins" role="form">
                <fieldset>
                  <div class="form-group">
                    <input class="form-control" ng-model="createFormData.project_name" placeholder="Project Name (*)" name="project_name" type="text" required ng-maxlength="30">
                    <p ng-show="createProjectForm.project_name.$dirty &&createProjectForm.project_name.$invalid" class="text-danger">
                      Please name your project!
                    </p>
                  </div>
                  <div class="form-group">
                    <textarea class="form-control" ng-model="createFormData.project_description" name="project_description" placeholder="Project Description" rows="4"></textarea>
                  </div>
                  <div class="form-group">
                    <input class="form-control" ng-model="createFormData.project_start_date" placeholder="Start Date (*)" name="start_date" type="text" ng-click="open_start_date($event)" datepicker-popup="{{format}}" is-open="start_date_opened" close-text="Close" required>
                    <p ng-show="createProjectForm.start_date.$dirty &&createProjectForm.start_date.$invalid" class="text-danger">
                      Please set your project start date!
                    </p>
                  </div>
                  <div class="form-group">
                    <input class="form-control" ng-model="createFormData.project_end_date" placeholder="Completion Date (*)" name="end_date" type="text" ng-click="open_end_date($event)" datepicker-popup="{{format}}" is-open="end_date_opened" close-text="Close" required date-lower-than="{{createFormData.project_start_date|date:'yyyy/MM/dd'}}">
                    <p ng-show="createProjectForm.end_date.$dirty &&createProjectForm.end_date.$error.dateLowerThan" class="text-danger">
                      Invalid End date!
                    </p>
                    <p ng-show="createProjectForm.end_date.$dirty &&createProjectForm.end_date.$error.required" class="text-danger">
                      Please set your project end date!
                    </p>
                  </div>
                  <input type="submit" class="btn btn-primary" id="submit" value="Create" ng-disabled="createProjectForm.$invalid"/>
                  <a ng-click="cancelCreateProject()" class="btn btn-default">Cancel</a>

                </fieldset>
              </form>
            </div>
            <div class="panel-footer">
              <p class="help-block center-block">(*) indicates required fields.</p>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div> <!-- end container -->
</div> <!-- end ProjectCtrl -->
