<div ng-include="'partials/navbar.html'"></div>


<div ng-controller="StoriesCtrl">
  <div class="container">
    <div class="container">
      <div class="row vertical-offset-100">
        <div class="col-md-4 col-md-offset-4">
          <div class="panel panel-primary">

            <div class="panel-heading">
              <h3 class="panel-title">Edit Story {{story_retrieved.title}}</h3>
            </div>
            <div class="panel-body">
              <form ng-submit="updateStory(story_retrieved.title, story_retrieved.description,story_retrieved.notes, story_retrieved.points)" accept-charset="UTF-8" role="form">
                <fieldset>

                  <div class="form-group">
                    <label for="story_title">Story Title (*)</label>
                    <input class="form-control" ng-model="story_retrieved.title"  placeholder="{{story_retrieved.title}}" name="story_title" type="text" required>
                  </div>

                  <div class="form-group">
                    <label for="story_description">Story Description</label>
                    <textarea class="form-control" ng-model="story_retrieved.description" name="story_description" placeholder="{{story_retrieved.description}}" rows="4"></textarea>
                  </div>

                  <div class="form-group">
                    <label for="story_notes">Story Notes</label>
                    <textarea class="form-control" ng-model="story_retrieved.notes" name="story_notes" placeholder="{{story_retrieved.notes}}" rows="4"></textarea>
                  </div>

                  <div class="form-group">
                    <label for="story_points">Story Points</label>
                    <input class="form-control"  type="number"   min="0" max="99"  ng-model="story_retrieved.points" placeholder="{{story_retrieved.points}}" name="story_points" type="text">
                  </div>

                  <div class="form-group">
                    <label for="sprint_id">Sprint:</label>
                     {{story_retrieved.sprintId}}
                  </div>

                  <input type="submit" class="btn btn-primary" id="submit" value="Update" />
                  <a ng-click="cancelCreateStory()" class="btn btn-default">Cancel</a>

                </fieldset>
              </form>
            </div>
            <div class="panel-footer">
              <p class="help-block center-block">(*) next to each field indicates required fields.</p>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div> <!-- end container -->
</div> <!-- end ProjectCtrl -->










<!--
<div>
  <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2>All Todos</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
		<table class="table">
		  <tr>
		    <th>Description</th>
		    <th>Name</th>
		    <th>Action</th>
		  </tr>
		  <tr ng-repeat="project in projects">
		  	<td>{{project.description}}</td>
		  	<td>{{project.name}}</td>
		  	<td><button ng-click="removeTodo(todo.todoId)">Remove</button></td>
		  </tr>
		</table>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 col-md-offset-1">
		<form role="form">
		  <div class="form-group">
		    <label for="todoInput">Add todo</label>
		    <input type="text" class="form-control" ng-model="todoModel.description" id="todoInput" placeholder="Todo description">
		  </div>

		  <button ng-click="addTodo(todoModel.description)" class="btn btn-default">
		  	Add todo
		  </button>
		</form>
      </div>
    </div>


  </div>
</div> -->
