<div ng-include="'partials/navbar.html'"></div>


<div ng-controller="ProjectsCtrl">
  <div class="container">
    <div class="container">
      <div class="row vertical-offset-100">
        <div class="col-md-4 col-md-offset-4">

          <h3>Edit Project</h3>
          <div class="panel panel-default">
            <div class="panel-body">
              <form name="editProjectForm"ng-submit="updateProject(project_retrieved.id, project_retrieved.name, project_retrieved.description, project_retrieved.start_date, project_retrieved.end_date, project_option_selected.value)" accept-charset="UTF-8" class="equal-margins" role="form">
                <fieldset>
                  <div class="form-group">
                    <label for="project_name">Project Name (*)</label>
                    <input class="form-control" ng-model="project_retrieved.name" placeholder="Project Name" name="project_name" type="text" required ng-maxlength="30">
                    <p ng-show="editProjectForm.project_name.$dirty &&editProjectForm.project_name.$invalid" class="text-danger">
                      Please name your project!
                    </p>
                  </div>
                  <div class="form-group">
                    <label for="project_description">Project Description</label>
                    <textarea class="form-control" ng-model="project_retrieved.description" name="project_description" placeholder="Project Description" rows="4"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="start_date">Start Date (*)</label>
                    <input class="form-control" ng-model="project_retrieved.start_date" placeholder="2000/2/1" name="start_date" type="text" ng-click="open_start_date($event)" datepicker-popup="{{format}}" is-open="start_date_opened" close-text="Close" required>
                    <p ng-show="editProjectForm.start_date.$dirty &&editProjectForm.start_date.$invalid" class="text-danger">
                      Please set your project start date!
                    </p>
                  </div>
                  <div class="form-group">
                    <label for="end_date">Completion Date (*)</label>
                    <input class="form-control" ng-model="project_retrieved.end_date" placeholder="2014/2/1" name="end_date" type="text" ng-click="open_end_date($event)" datepicker-popup="{{format}}" is-open="end_date_opened" close-text="Close" required date-lower-than="{{project_retrieved.start_date|date:'yyyy/MM/dd'}}">
                    <p ng-show="(editProjectForm.end_date.$dirty||editProjectForm.start_date.$dirty) &&editProjectForm.end_date.$error.dateLowerThan" class="text-danger">
                      Invalid end date !
                    </p>
                    <p ng-show="(editProjectForm.start_date.$dirty||editProjectForm.end_date.$dirty) &&editProjectForm.end_date.$error.required" class="text-danger">
                      Please set your project end date!
                    </p>
                  </div>
                  <div class="form-group">
                    <label for="exampleSelectLanguage1">Status</label>
                    <select name="status" class="form-control" ng-model="project_option_selected" ng-options="option.label for option in project_status_options" required></select>
                  </div>
                  <button type="submit" class="btn btn-primary" ng-disabled="editProjectForm.$invalid">Update</button>
                  <a ng-click="cancelUpdateProject()" class="btn btn-default">Cancel</a>
                </fieldset>
              </form>
            </div>
            <div class="panel-footer">
              <p class="help-block center-block">(*) indicates required fields.</p>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div> <!-- end container -->
</div> <!-- end ProjectCtrl -->
