<div ng-include="'partials/navbar.html'"></div>


<div ng-controller="ProjectsCtrl">
  <div class="container">

    <div class="row">
      <span class="dropdown" dropdown on-toggle="toggled(open)">
        <a href class="dropdown-toggle" dropdown-toggle>
          <h3>Projects <span class="caret"></span></h3>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#/project/create"><i class="fa fa-plus"></i> Create Project</a></li>
        </ul>
      </span>
    </div>

    <!-- Projects -->
    <div class="col-md-6">
      <div ng-repeat="project in projects">

        <div  id="stream" fade-in>
          <!-- stream item -->
          <div class="stream-item">
            <div class="row">
              <div class="stream-panel credits">
                <ul class="stream-panel-ul">
                  <div ng-click="sendEventProjectId(project.id)">
                    <li><span class="item-title">Project: {{ project.name }}</span></li>
                    <li><span class="item-content">Owner: {{ project.ownerName }}</span></li>
                    <li><span class="item-content">Description: {{ project.description }}</span></li>
                    <li><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Start Date: {{ project.start_date|date:'yyyy/MM/dd' }} - End Date: {{ project.end_date|date:'yyyy/MM/dd' }}</strong></small></li>
                    <li><small class="text-muted"><i class="glyphicon glyphicon-question-sign"></i> Status: <strong class="item-status-{{ project.status|projectStatusFromValue }}">{{project.status|projectStatusFromValue}}</strong></small></p></li>
                  </div>

                  <li>
                    <div class="btn-group pull-right">
                      <a ng-href="#/sprint/create/{{project.id}}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span> Sprint</a>
                      <a ng-click="sendEventProjectId(project.id)"  class="btn btn-default btn-xs"><span class="glyphicon glyphicon-list"></span> Sprints</a>
                      <a ng-href="#/project/project_members/{{project.id}}" class="btn btn-default btn-xs" ><span class="glyphicon glyphicon-user"></span> Members</a>
                      <a ng-href="#/project/edit/{{project.id}}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-cog"></span> Edit</a>
                      <a ng-click='deleteProject(project.id);' class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                      <a ng-click='inviteDevelopersToProject();' class="btn btn-default btn-xs"><span class="glyphicon glyphicon-share"></span> Share</a>
                    </div>
                    <div class="clearfix"></div>
                  </li>
                </ul>
              </div>
            </div>
          </div> <!-- end stream-item -->
        </div> <!-- end stream -->

      </div>

    </div> <!-- end Projects -->

    <div ng-controller="SprintsCtrl">
      <!-- Sprints -->

      <div class="col-md-6">
        <div ng-repeat="sprint in sprints">
          <div id="stream" fade-in>
            <!-- stream item -->
            <div class="stream-item">
              <div class="row">
                <div class="stream-panel credits">
                  <ul class="stream-panel-ul">
                    <div ng-click="redirectTo(projectId,sprint.id)">
                      <li><span class="item-title">Sprint: {{ sprint.name }}</span></li>
                      <li><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Start Date: {{ sprint.start_date|date:'yyyy/MM/dd' }} - End Date: {{ sprint.end_date|date:'yyyy/MM/dd' }}</strong></small></li>
                      <li><p><small class="text-muted"><i class="glyphicon glyphicon-question-sign"></i> Status: <strong class="item-status-{{ sprint.status|sprintStatusFromValue }}">{{ sprint.status|sprintStatusFromValue }}</strong></small></p></li>
                      </div>
                      <li>
                        <div class="btn-group pull-right">
                          <a ng-href="#/projects/{{projectId}}/sprints/{{sprint.id}}/stories"  class="btn btn-default btn-xs"><span class="glyphicon glyphicon-th-list"></span> Stories</a>
                          <a ng-href="#/taskboard/project/{{projectId}}/sprint/{{sprint.id}}"  class="btn btn-default btn-xs"><span class="glyphicon glyphicon-list-alt"></span> Taskboard</a>
                          <a ng-href="#/projects/{{projectId}}/sprints/edit/{{sprint.id}}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-cog"></span> Edit</a>
                          <a ng-click='deleteSprint(projectId, sprint.id);' class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                          <a ng-href="#/burndownchart/project/{{projectId}}/sprint/{{sprint.id}}"  class="btn btn-default btn-xs"><span class="glyphicon glyphicon-list-alt"></span> Burndown Chart</a>
                        </div>
                        <div class="clearfix"></div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div> <!-- end stream-item -->
            </div>

          </div>

        </div>
        <!-- end Sprints -->

      </div>

    </div> <!-- end row -->
  </div> <!-- end container -->
</div> <!-- end ProjectCtrl -->
