<div ng-include="'partials/navbar.html'"></div>

<div ng-controller="SprintsCtrl">
  <div class="container">

    <div class="row">
      <span class="dropdown" dropdown on-toggle="toggled(open)">
        <a href class="dropdown-toggle" dropdown-toggle>
          <h3>Sprints <span class="caret"></span></h3>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#/sprint/create"><i class="fa fa-plus"></i> Create Sprints</a></li>
        </ul>
      </span>
    </div>

    <!-- Sprint  -->
    <div class="col-md-6">
      <div ng-repeat="sprint in sprints">

        <div id="stream">
          <!-- stream item -->
          <div class="stream-item">
            <div class="row">
              <div class="stream-panel credits">
                <ul class="stream-panel-ul">
                  <li><span class="item-title">Sprint Title (id:)</span></li>
                  <li><span class="item-content">Sprint Owner: </span></li>
                  <li><span class="item-content">Sprint Description: </span></li>
                  <li>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Created: </p> </li>
                      <li>
                        <div class="btn-group pull-right">
                          <a  class="btn btn-default btn-xs"><span class="glyphicon glyphicon-cog"></span> Properties</a>
                          <a  class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                        </div>
                        <div class="clearfix"></div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div> <!-- end stream-item -->
            </div> <!-- end stream -->
          </div> <!-- end ng-repeat -->
        </div> <!-- end column -->

      </div> <!-- end of container -->
    </div> <!-- end SprintCtrl -->
