<div ng-include="'partials/navbar.html'"></div>

<div ng-controller="StoriesCtrl">
  <div class="container">

    <div class="row">
      <span class="dropdown" dropdown on-toggle="toggled(open)">
        <a href class="dropdown-toggle" dropdown-toggle>
          <h3>Stories <span class="caret"></span></h3>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#/projects/{{projectId}}/sprints/{{sprintId}}/stories/create"><i class="fa fa-plus"></i> Create Story</a></li>
        </ul>
      </span>
    </div>

    <!-- Stories -->
    <div class="col-md-6">
      <div ng-repeat="story in stories">

        <div ng-click="sendEventStoryId(projectId,sprintId,story.id)" id="stream" fade-in>
          <!-- stream item -->
          <div class="stream-item">
            <div class="row">
              <div class="stream-panel credits">
                <ul class="stream-panel-ul">
                  <li><span class="item-title">Story: {{ story.title }} </span></li>
                  <li><span class="item-content">Description: {{story.description}} </span></li>
                  <li><span class="item-content">Points: {{story.points}}</span></li>
                  <li><span class="item-content">Notes: {{story.notes}}</span></li>
                  <li>

                    <li>
                      <div class="btn-group pull-right">
                        <a ng-href="#/projects/{{projectId}}/sprints/{{sprintId}}/stories/{{story.id}}/tasks/create" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span> Task</a>
                        <a ng-click='sendEventStoryId(projectId,sprintId,story.id)'  class="btn btn-default btn-xs"><span class="glyphicon glyphicon-tasks"></span> Tasks</a>
                        <a ng-href="#/taskboard/project/{{projectId}}/sprint/{{sprintId}}"  class="btn btn-default btn-xs"><span class="glyphicon glyphicon-list-alt"></span> Taskboard</a>
                        <a href="#/projects/{{projectId}}/sprints/{{sprintId}}/stories/edit/{{story.id}}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-cog"></span> Edit</a>
                        <a ng-click='deleteStory(projectId,sprintId,story.id);' class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                      </div>
                      <div class="clearfix"></div>
                    </li>
                  </ul>
                </div>
              </div>
            </div> <!-- end stream-item -->
          </div> <!-- end stream -->
        </div>
      </div> <!-- end Stories -->

      <div ng-controller="TasksCtrl">
        <!-- Sprints -->
        <div class="col-md-6">
          <div ng-repeat="task in tasks">
            <div id="stream" fade-in>

              <!-- stream item -->
              <div class="stream-item">
                <div class="row">
                  <div class="stream-panel credits">
                    <ul class="stream-panel-ul">
                      <li><span class="item-title">{{task.description}}</span></li>
                      <li><span class="item-content">Points: {{task.nr}}</span></li>
                      <li><small class="text-muted"><i class="glyphicon glyphicon-question-sign"></i> Status: <strong class="item-status-{{ task.status|taskStatusFromValue }}">{{ task.status|taskStatusFromValue }}</strong></small></li>
                      <li>
                        <div class="btn-group pull-right">
                          <a  ng-href="#/projects/{{projectId}}/sprints/{{sprintId}}/stories/{{storyId}}/task/edit/{{task.id}}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-cog"></span> Edit</a>
                          <a  ng-click='deleteTask(projectId,sprintId,storyId,task.id )' class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                        </div>
                        <div class="clearfix"></div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div> <!-- end stream-item -->
            </div>
          </div>
        </div>
        <!-- end Sprints -->

      </div>
    </div> <!-- end of container -->
  </div>
