
<!-- Old Modal page- now implemented in user dashboard -->



<div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->







<div class="modal-header" ng-controller="TaskController">
	<!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> //close button in header-->
	<a href="#" class="modal-title h4" editable-text="user.name"> {{ user.name || "empty" }} </a><span class="pull-right"><span class="glyphicon glyphicon-star"></span> 100</span>
</div>	<!-- /modal-header -->

<div class="modal-body row">
	<div class="col-md-6">
		<p>Status: Created</p>
		<p>User: Alan</p>
		<p>Priority: Critical</p>
		<p>Description: This is a description of a task. Every user can add a description when creating or editing task. I know this is obvious, I just need a long text for format checking!</p>
		<p>Comments: Here will be comments</p>
	</div>
	<div class="col-md-6">
		<p><span class="glyphicon glyphicon-time"></span> 30 jan</td></p>
		<p><span class="glyphicon glyphicon-plus"></span> add deadline</td></p>
		<p><span class="glyphicon glyphicon-plus"></span> add user</td></p>
		<p><span class="glyphicon glyphicon-plus"></span> add description</td></p>
		<p><span class="glyphicon glyphicon-remove"></span> delete task</td></p>
		<p><span class="glyphicon glyphicon-comment"></span> add a comment</td></p>
	</div>
</div>	<!-- /modal-body -->

<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	<button type="button" class="btn btn-primary">Save changes</button>
</div>	<!-- /modal-footer -->
