<div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3">
        <div class="account-wall">
            <form class="form-signin" name="form" ng-submit="submit()">
                <h1>Forgot your password?</h1>
                <p>
                    To get a new password, enter the email or the username you used to register to MGMT. We will inform the admin.
                </p>
                <p>
                    <div class="form-group" ng-class="{'has-error' : form.user.$invalid && form.user.$dirty, 'has-success' : form.user.$valid && form.user.$dirty }">
                        <div class="controls">
                            <input type="text" name="user" class="form-control last" placeholder="Email or username" required autofocus ng-model="user" pattern="(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$)|(^[A-Za-z0-9_-]{1,15}$)" ng-pattern="/(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$)|(^[A-Za-z0-9_-]{1,15}$)/">
                            <p class="help-block">Username can contain any letters, numbers, underscores and hyphens, without spaces. Email should contain "@".</p>
                        </div>

                    </div>
                    <button data-loading-text="Loading..." id="pass_recovery_button" class="btn btn-lg btn-primary btn-block" type="submit">
                        Submit
                    </button>
                    <span class="pull-left help-block">Already have an account? <a href="/#/login">Log in.</a></span>
                    <a href="/#/register" class="new-account pull-right">Create an account</a>
                </p>
            </form>
        </div>
        
    </div>
</div>  