@CHARSET "UTF-8";

.navbar{
	padding-top:3px;
}
.navbar-right{
	margin-right:20px;
}
body { 
	padding-top: 70px; 
	overflow-x:hidden;
	padding-bottom:30px;
}
a{
	cursor:pointer;
}
	
.row{
	margin-left:0px;
}
.div_myProjects{
	margin-top:10px;
}
.btn_project{
	text-align:left;
}
.navbar-project-info{
	
}
.navbar_project_edit{
	padding:0px;
	margin:0px;
}

.noPadding{
	padding:0px!important;
}

#div_chart{
	font-family:inherit;
	font-size:12px;
}
.btn_project:hover{
	background-color:#F5F5F5;
}
.btn_project{
	cursor:pointer;
}
.acc_panel{
	cursor:pointer;
}

.toRight{
	float:right;
}

.chat_row{
	position:fixed;
	width:30%;
	height:40%;
	bottom: 50px;
	right:0px;
	margin-right:0px;
	padding:10px;
	background-color: #DDDDDD;
	overflow-x:hidden;
	overflow-y:hidden;
	
}

.chat_col{
	height:80%;
	width:98%;
	overflow-y:auto;
}
.chat_txt{
	margin-left:-25px;
}
.chat_bubble{
	width:80%;
	background-color:#FFF;
	padding:5px;
	margin-top:10px;
	margin-bottom:5px;
}















